<div class="description" id="description">
    <nab-action-editor-menu-description
        id="description-content"
        #descriptionComponent>
    </nab-action-editor-menu-description>
</div>

<mat-sidenav-container autosize>

    <!-- LEFT: Functions drawer -->
    <mat-sidenav
        #functionsDrawer
        mode="side"
        position="start"
        mwlResizable
        mwlResizeHandle
        [resizeEdges]="{ left: true }">

        <nab-action-editor-menu
            [descriptionComponent]="descriptionComponent"
            [editor]="editor">
        </nab-action-editor-menu>
    </mat-sidenav>

    <!-- LEFT: References drawer (tiež zľava) -->
    <mat-sidenav
        #referencesDrawer
        mode="over"
        position="start">

        <div class="references-panel">
            <h3>References</h3>

            <ng-container *ngFor="let configuration of editorConfigurations">
                <h4 class="references-section-title">
                    {{ configuration.title }}
                </h4>
                <button
                    mat-stroked-button
                    class="reference-item"
                    *ngFor="let item of configuration.items"
                    (click)="onReferenceItemClick(item)">
                    <span [innerHTML]="item.label"></span>
                </button>
            </ng-container>
        </div>
    </mat-sidenav>

    <!-- MAIN CONTENT -->
    <mat-sidenav-content>

        <!-- Top bar with two buttons -->
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="3em">

            <!-- Functions button -->
            <div fxFlex fxLayoutAlign="start center">
                <button type="button" mat-button (click)="toggleFunctionsDrawer()">
                    <mat-icon *ngIf="functionsDrawer.opened; else closedFunctions">
                        keyboard_arrow_left
                    </mat-icon>
                    <ng-template #closedFunctions>
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </ng-template>
                    <mat-icon>functions</mat-icon>
                    Functions
                </button>
            </div>

            <!-- References button -->
            <div fxFlex fxLayoutAlign="end center">
                <button type="button" mat-button (click)="toggleReferencesDrawer()">
                    <mat-icon>link</mat-icon>
                    References
                    <!-- keďže drawer ide zľava, šípky otočíme opačne -->
                    <mat-icon *ngIf="referencesDrawer.opened; else closedRefs">
                        keyboard_arrow_left
                    </mat-icon>
                    <ng-template #closedRefs>
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </ng-template>
                </button>
            </div>
        </div>

        <!-- Editor -->
        <div fxLayout="column" fxLayoutAlign="start stretch">
            <ngx-monaco-editor
                class="full-size-editor"
                id="_editor"
                [options]="editorOptions"
                [formControl]="formControl"
                (onInit)="onInit($event)">
            </ngx-monaco-editor>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>
