<div fxLayout="column" class="height-fix">
    <mat-action-list class="height-max" matSort (matSortChange)="sortData($event)">
        <div mat-subheader class="header">
            <p fxFlex="50" mat-sort-header="id">ID</p>
            <p fxFlex mat-sort-header="name">Name</p>
            <div fxFlex="20" class="button-wrap">
                <button mat-icon-button class="button-line" matTooltip="Add data variable" (click)="create()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
        <nab-main-master-item *ngFor="let item of pageData"
                              [item]="item"
                              [masterItemComponent]="masterItemComponent"
                              [masterService]="masterService" ></nab-main-master-item>
    </mat-action-list>
    <mat-paginator fxFlex class="footer" [length]="totalSize" [pageSize]="pageSize" [pageIndex]="pageIndex"
                   [pageSizeOptions]="pageSizeOptions" (page)="onPageChanged($event)" showFirstLastButtons="false">
    </mat-paginator>
</div>
