<mat-toolbar *ngIf="selectedTransition" color="primary">
    <mat-toolbar-row class="margins-sides">
        <mat-icon class="icon" aria-label="Transition icon"
                  *ngIf="selectedTransition.icon">{{selectedTransition.icon}}</mat-icon>
        <span>ID: {{selectedTransition.id}}</span>
        <span fxFlex></span>
        <button mat-stroked-button color="accent" class="action-button" (click)="openActions()">
            <mat-icon>code</mat-icon>
            Transition and Dataref Actions
        </button>
        <span class="spacer">Label: {{selectedTransition.label?.value}}</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar *ngIf="!selectedTransition" color="primary">
    <mat-toolbar-row class="margins-sides">
        <span>You have no selected transition!</span>
        <div fxFlex></div>
        <button mat-icon-button aria-label="Close form builder" (click)="redirect()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
