<!--<mat-tab-group #tabs animationDuration="0ms" (selectedIndexChange)="onTabChange($event)" [selectedIndex]="selectedIndex">-->
<!--    <mat-tab *ngFor="let item of projectModels">-->
<!--        <ng-template mat-tab-label>-->
<!--            <mat-icon class="margin-right16px">{{item.icon}}</mat-icon>-->
<!--            {{item.title?.value}}-->
<!--        </ng-template>-->
<!--    </mat-tab>-->
<!--    <mat-tab disabled>-->
<!--        <ng-template mat-tab-label>-->
<!--            <mat-icon (click)="addTab()" matTooltip="Add new Model" class="addTab">add</mat-icon>-->
<!--        </ng-template>-->
<!--    </mat-tab>-->
<!--</mat-tab-group>-->

<mat-toolbar class="modelerToolbar">
    <nab-control-panel [nav]="sidenav"></nab-control-panel>
</mat-toolbar>

<mat-sidenav-container class="container-sidenav">
    <mat-sidenav #sidenav mode="over" position="end"
                 mwlResizable
                 [style.width.px]="width"
                 [resizeCursorPrecision]="10"
                 [resizeEdges]="{ left: true }"
                 (resizing)="onResizeEvent($event)">
        <nab-edit-panel-modeler [nav]="sidenav"></nab-edit-panel-modeler>
    </mat-sidenav>
    <mat-sidenav-content id="modeler_area" class="container-sidenav-content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
