<h2 mat-dialog-title>Referenced Datavariables</h2>
<div mat-dialog-content>
  <mat-action-list>
    <div class="header-bottom-border" mat-subheader>
      <p fxFlex="30"><strong>Title</strong></p>
      <p fxFlex="20">Id</p>
      <p fxFlex="20">Value</p>
      <p fxFlex="20">Reference</p>
      <p fxFlex>Actions</p>
    </div>
    <mat-list-item *ngFor="let item of dataSource" class="item-bottom-border">
      <p fxFlex="30"><strong>{{ item.title?.value }}</strong></p>
      <p fxFlex="20">{{ item.id }}</p>
      <p fxFlex="20">{{ item.init?.expression }}</p>
      <p fxFlex="20">{{ isSelected(item) ? 'Referenced' : '' }}</p>
      <button (click)="setArcVariability(item)" class="button-line" mat-icon-button
              matTooltip="Add data variable">
        <mat-icon>add</mat-icon>
      </button>
      <button (click)="removeArcVariability()" class="button-line" mat-icon-button
              matTooltip="Remove data variable">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-action-list>
  <mat-paginator (page)="onPageChanged($event)" [length]="length" [pageIndex]="pageIndex" [pageSizeOptions]="pageSizeOptions"
                 [pageSize]="pageSize" class="margin-top10px footer" showFirstLastButtons>
  </mat-paginator>
</div>
