<div fxLayout="row" fxLayoutAlign="start center" class="gridster-item-content min-row-height netgrif-input" *ngIf="!isHidden()">
    <span *ngIf="dataField.dataVariable.type === DataType.CASE_REF ||
                 dataField.dataVariable.type === DataType.FILTER" class="placeholder-text">Placeholder for {{dataField.dataVariable.type}} with id '{{dataField.dataVariable?.id}}'</span>

    <nab-gridster-task-ref *ngIf="dataField.dataVariable.type === DataType.TASK_REF"
        [dataField]="dataField"></nab-gridster-task-ref>

    <nc-data-field-template *ngIf="dataField.dataVariable.type !== DataType.CASE_REF &&
                 dataField.dataVariable.type !== DataType.TASK_REF &&
                 dataField.dataVariable.type !== DataType.FILTER" [additionalFieldProperties]="{taskId: ''}" [dataField]="engineField" [offset]="0" fxFlex >
    </nc-data-field-template>
</div>
<div *ngIf="isHidden()" fxLayout="row" fxLayoutAlign="center center" class="gridster-item-content min-row-height hidden-field">
    <mat-icon>visibility_off</mat-icon>
    <span>{{name()}}</span>
</div>
