<h1 mat-dialog-title>{{ data.type === 'transition' ? 'Transition' : 'Process' }} Permissions</h1>
<div mat-dialog-content>
  <div> Role Permissions
    <table #firstTableSort="matSort" [dataSource]="dataSource" class="table-right-padding" mat-table matSort>
      <caption></caption>

      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th *matHeaderCellDef class="padding-table-header" fxFlex id="id" mat-header-cell mat-sort-header> Id
        </th>
        <td *matCellDef="let element" class="padding-table" fxFlex mat-cell> {{ element.id }}</td>
      </ng-container>

      <!-- Perform Column -->
      <ng-container *ngIf="data.type === 'transition'" matColumnDef="perform">
        <th *matHeaderCellDef class="padding-table-header" fxFlex id="perform" mat-header-cell mat-sort-header>
          Perform
        </th>
        <td *matCellDef="let element" fxFlex fxLayout="row" fxLayoutAlign="start center" mat-cell>
          <mat-checkbox (change)="setValue($event, element.id, 'perform')" [checked]="getChecked(element.logic.perform)"
                        [indeterminate]="getIndeterminate(element.logic.perform)"
                        [ngClass]="{'checkbox-background-warn': getIndeterminate(element.logic.perform), 'checkbox-background-green': getChecked(element.logic.perform)}"
                        class="height-row"
                        fxLayoutAlign="start center">
            <span>{{ stringValue(element.logic.perform) }}</span>
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Delegate Column -->
      <ng-container *ngIf="data.type === 'transition'" matColumnDef="delegate">
        <th *matHeaderCellDef class="padding-table-header" fxFlex id="delegate" mat-header-cell mat-sort-header>
          Delegate
        </th>
        <td *matCellDef="let element" fxFlex fxLayout="row" fxLayoutAlign="start center" mat-cell>
          <mat-checkbox (change)="setValue($event, element.id, 'delegate')" [checked]="getChecked(element.logic.delegate)"
                        [indeterminate]="getIndeterminate(element.logic.delegate)"
                        [ngClass]="{'checkbox-background-warn': getIndeterminate(element.logic.delegate), 'checkbox-background-green': getChecked(element.logic.delegate)}"
                        class="height-row"
                        fxLayoutAlign="start center">
            <span>{{ stringValue(element.logic.delegate) }}</span>
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Cancel Column -->
      <ng-container *ngIf="data.type === 'transition'" matColumnDef="cancel">
        <th *matHeaderCellDef class="padding-table-header" fxFlex id="cancel" mat-header-cell mat-sort-header>
          Cancel
        </th>
        <td *matCellDef="let element" fxFlex fxLayout="row" fxLayoutAlign="start center" mat-cell>
          <mat-checkbox (change)="setValue($event, element.id, 'cancel')" [checked]="getChecked(element.logic.cancel)"
                        [indeterminate]="getIndeterminate(element.logic.cancel)"
                        [ngClass]="{'checkbox-background-warn': getIndeterminate(element.logic.cancel), 'checkbox-background-green': getChecked(element.logic.cancel)}"
                        class="height-row"
                        fxLayoutAlign="start center">
            <span>{{ stringValue(element.logic.cancel) }}</span>
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Assign Column -->
      <ng-container *ngIf="data.type === 'transition'" matColumnDef="assign">
        <th *matHeaderCellDef class="padding-table-header" fxFlex id="assign" mat-header-cell mat-sort-header>
          Assign
        </th>
        <td *matCellDef="let element" fxFlex fxLayout="row" fxLayoutAlign="start center" mat-cell>
          <mat-checkbox (change)="setValue($event, element.id, 'assign')" [checked]="getChecked(element.logic.assign)"
                        [indeterminate]="getIndeterminate(element.logic.assign)"
                        [ngClass]="{'checkbox-background-warn': getIndeterminate(element.logic.assign), 'checkbox-background-green': getChecked(element.logic.assign)}"
                        class="height-row"
                        fxLayoutAlign="start center">
            <span>{{ stringValue(element.logic.assign) }}</span>
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- View Column -->
      <ng-container *ngIf="data.type === 'transition'" matColumnDef="view">
        <th *matHeaderCellDef class="padding-table-header" fxFlex id="view" mat-header-cell mat-sort-header>
          View
        </th>
        <td *matCellDef="let element" fxFlex fxLayout="row" fxLayoutAlign="start center" mat-cell>
          <mat-checkbox (change)="setValue($event, element.id, 'view')" [checked]="getChecked(element.logic.view)"
                        [indeterminate]="getIndeterminate(element.logic.view)"
                        [ngClass]="{'checkbox-background-warn': getIndeterminate(element.logic.view), 'checkbox-background-green': getChecked(element.logic.view)}"
                        class="height-row"
                        fxLayoutAlign="start center">
            <span>{{ stringValue(element.logic.view) }}</span>
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Create Column -->
      <ng-container *ngIf="data.type === 'process'" matColumnDef="create">
        <th *matHeaderCellDef class="padding-table-header" fxFlex id="create" mat-header-cell mat-sort-header>
          Create
        </th>
        <td *matCellDef="let element" fxFlex fxLayout="row" fxLayoutAlign="start center" mat-cell>
          <mat-checkbox (change)="setValue($event, element.id, 'create')" [checked]="getChecked(element.caseLogic.create)"
                        [indeterminate]="getIndeterminate(element.caseLogic.create)"
                        [ngClass]="{'checkbox-background-warn': getIndeterminate(element.caseLogic.create), 'checkbox-background-green': getChecked(element.caseLogic.create)}"
                        class="height-row"
                        fxLayoutAlign="start center">
            <span>{{ stringValue(element.caseLogic.create) }}</span>
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Delete Column -->
      <ng-container *ngIf="data.type === 'process'" matColumnDef="delete">
        <th *matHeaderCellDef class="padding-table-header" fxFlex id="delete" mat-header-cell mat-sort-header>
          Delete
        </th>
        <td *matCellDef="let element" fxFlex fxLayout="row" fxLayoutAlign="start center" mat-cell>
          <mat-checkbox (change)="setValue($event, element.id, 'delete')" [checked]="getChecked(element.caseLogic.delete)"
                        [indeterminate]="getIndeterminate(element.caseLogic.delete)"
                        [ngClass]="{'checkbox-background-warn': getIndeterminate(element.caseLogic.delete), 'checkbox-background-green': getChecked(element.caseLogic.delete)}"
                        class="height-row"
                        fxLayoutAlign="start center">
            <span>{{ stringValue(element.caseLogic.delete) }}</span>
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Process View Column -->
      <ng-container *ngIf="data.type === 'process'" matColumnDef="processView">
        <th *matHeaderCellDef class="padding-table-header" fxFlex id="processView" mat-header-cell
            mat-sort-header> View
        </th>
        <td *matCellDef="let element" fxFlex fxLayout="row" fxLayoutAlign="start center" mat-cell>
          <mat-checkbox (change)="setValue($event, element.id, 'view')" [checked]="getChecked(element.caseLogic.view)"
                        [indeterminate]="getIndeterminate(element.caseLogic.view)"
                        [ngClass]="{'checkbox-background-warn': getIndeterminate(element.caseLogic.view), 'checkbox-background-green': getChecked(element.caseLogic.view)}"
                        class="height-row"
                        fxLayoutAlign="start center">
            <span>{{ stringValue(element.caseLogic.view) }}</span>
          </mat-checkbox>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>

    <mat-paginator #matPaginator [pageSizeOptions]="pageSizes" [pageSize]="defaultPageSize"
                   showFirstLastButtons></mat-paginator>
  </div>
  <div> User List Permissions
    <table #secondTableSort="matSort" [dataSource]="usersDataSource" class="table-right-padding" mat-table matSort>
      <caption></caption>

      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th *matHeaderCellDef class="padding-table-header" fxFlex id="id" mat-header-cell mat-sort-header> Id
        </th>
        <td *matCellDef="let element" class="padding-table" fxFlex mat-cell> {{ element.id }}</td>
      </ng-container>

      <!-- Perform Column -->
      <ng-container *ngIf="data.type === 'transition'" matColumnDef="perform">
        <th *matHeaderCellDef class="padding-table-header" fxFlex id="perform" mat-header-cell mat-sort-header>
          Perform
        </th>
        <td *matCellDef="let element" fxFlex fxLayout="row" fxLayoutAlign="start center" mat-cell>
          <mat-checkbox (change)="setUserValue($event, element.id, 'perform')" [checked]="getChecked(element.logic.perform)"
                        [indeterminate]="getIndeterminate(element.logic.perform)"
                        [ngClass]="{'checkbox-background-warn': getIndeterminate(element.logic.perform), 'checkbox-background-green': getChecked(element.logic.perform)}"
                        class="height-row"
                        fxLayoutAlign="start center">
            <span>{{ stringValue(element.logic.perform) }}</span>
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Delegate Column -->
      <ng-container *ngIf="data.type === 'transition'" matColumnDef="delegate">
        <th *matHeaderCellDef class="padding-table-header" fxFlex id="delegate" mat-header-cell mat-sort-header>
          Delegate
        </th>
        <td *matCellDef="let element" fxFlex fxLayout="row" fxLayoutAlign="start center" mat-cell>
          <mat-checkbox (change)="setUserValue($event, element.id, 'delegate')" [checked]="getChecked(element.logic.delegate)"
                        [indeterminate]="getIndeterminate(element.logic.delegate)"
                        [ngClass]="{'checkbox-background-warn': getIndeterminate(element.logic.delegate), 'checkbox-background-green': getChecked(element.logic.delegate)}"
                        class="height-row"
                        fxLayoutAlign="start center">
            <span>{{ stringValue(element.logic.delegate) }}</span>
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Cancel Column -->
      <ng-container *ngIf="data.type === 'transition'" matColumnDef="cancel">
        <th *matHeaderCellDef class="padding-table-header" fxFlex id="cancel" mat-header-cell mat-sort-header>
          Cancel
        </th>
        <td *matCellDef="let element" fxFlex fxLayout="row" fxLayoutAlign="start center" mat-cell>
          <mat-checkbox (change)="setUserValue($event, element.id, 'cancel')" [checked]="getChecked(element.logic.cancel)"
                        [indeterminate]="getIndeterminate(element.logic.cancel)"
                        [ngClass]="{'checkbox-background-warn': getIndeterminate(element.logic.cancel), 'checkbox-background-green': getChecked(element.logic.cancel)}"
                        class="height-row"
                        fxLayoutAlign="start center">
            <span>{{ stringValue(element.logic.cancel) }}</span>
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Assign Column -->
      <ng-container *ngIf="data.type === 'transition'" matColumnDef="assign">
        <th *matHeaderCellDef class="padding-table-header" fxFlex id="assign" mat-header-cell mat-sort-header>
          Assign
        </th>
        <td *matCellDef="let element" fxFlex fxLayout="row" fxLayoutAlign="start center" mat-cell>
          <mat-checkbox (change)="setUserValue($event, element.id, 'assign')" [checked]="getChecked(element.logic.assign)"
                        [indeterminate]="getIndeterminate(element.logic.assign)"
                        [ngClass]="{'checkbox-background-warn': getIndeterminate(element.logic.assign), 'checkbox-background-green': getChecked(element.logic.assign)}"
                        class="height-row"
                        fxLayoutAlign="start center">
            <span>{{ stringValue(element.logic.assign) }}</span>
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- View Column -->
      <ng-container *ngIf="data.type === 'transition'" matColumnDef="view">
        <th *matHeaderCellDef class="padding-table-header" fxFlex id="view" mat-header-cell mat-sort-header>
          View
        </th>
        <td *matCellDef="let element" fxFlex fxLayout="row" fxLayoutAlign="start center" mat-cell>
          <mat-checkbox (change)="setUserValue($event, element.id, 'view')" [checked]="getChecked(element.logic.view)"
                        [indeterminate]="getIndeterminate(element.logic.view)"
                        [ngClass]="{'checkbox-background-warn': getIndeterminate(element.logic.view), 'checkbox-background-green': getChecked(element.logic.view)}"
                        class="height-row"
                        fxLayoutAlign="start center">
            <span>{{ stringValue(element.logic.view) }}</span>
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Create Column -->
      <ng-container *ngIf="data.type === 'process'" matColumnDef="create">
        <th *matHeaderCellDef class="padding-table-header" fxFlex id="create" mat-header-cell mat-sort-header>
          Create
        </th>
        <td *matCellDef="let element" fxFlex fxLayout="row" fxLayoutAlign="start center" mat-cell>
          <mat-checkbox (change)="setUserValue($event, element.id, 'create')" [checked]="getChecked(element.caseLogic.create)"
                        [indeterminate]="getIndeterminate(element.caseLogic.create)"
                        [ngClass]="{'checkbox-background-warn': getIndeterminate(element.caseLogic.create), 'checkbox-background-green': getChecked(element.caseLogic.create)}"
                        class="height-row"
                        fxLayoutAlign="start center">
            <span>{{ stringValue(element.caseLogic.create) }}</span>
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Delete Column -->
      <ng-container *ngIf="data.type === 'process'" matColumnDef="delete">
        <th *matHeaderCellDef class="padding-table-header" fxFlex id="delete" mat-header-cell mat-sort-header>
          Delete
        </th>
        <td *matCellDef="let element" fxFlex fxLayout="row" fxLayoutAlign="start center" mat-cell>
          <mat-checkbox (change)="setUserValue($event, element.id, 'delete')" [checked]="getChecked(element.caseLogic.delete)"
                        [indeterminate]="getIndeterminate(element.caseLogic.delete)"
                        [ngClass]="{'checkbox-background-warn': getIndeterminate(element.caseLogic.delete), 'checkbox-background-green': getChecked(element.caseLogic.delete)}"
                        class="height-row"
                        fxLayoutAlign="start center">
            <span>{{ stringValue(element.caseLogic.delete) }}</span>
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Process View Column -->
      <ng-container *ngIf="data.type === 'process'" matColumnDef="processView">
        <th *matHeaderCellDef class="padding-table-header" fxFlex id="processView" mat-header-cell
            mat-sort-header> View
        </th>
        <td *matCellDef="let element" fxFlex fxLayout="row" fxLayoutAlign="start center" mat-cell>
          <mat-checkbox (change)="setUserValue($event, element.id, 'view')" [checked]="getChecked(element.caseLogic.view)"
                        [indeterminate]="getIndeterminate(element.caseLogic.view)"
                        [ngClass]="{'checkbox-background-warn': getIndeterminate(element.caseLogic.view), 'checkbox-background-green': getChecked(element.caseLogic.view)}"
                        class="height-row"
                        fxLayoutAlign="start center">
            <span>{{ stringValue(element.caseLogic.view) }}</span>
          </mat-checkbox>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="usersDisplayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: usersDisplayedColumns;" mat-row></tr>
    </table>

    <mat-paginator #matUserPaginator [pageSizeOptions]="pageSizes" [pageSize]="defaultPageSize"
                   showFirstLastButtons></mat-paginator>
  </div>
</div>
