<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="tree">
  <mat-tree-node *matTreeNodeDef="let node;">
    <div class="tree-offset">
      <mat-form-field>
        <mat-label>Set trigger type</mat-label>
        <mat-select (selectionChange)="emitChanges()" [(ngModel)]="node.type">
          <mat-option *ngFor="let opt of typeOptions" [value]="opt.key">
            {{ opt.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br *ngIf="node.type === 'time'">
      <mat-form-field *ngIf="node.type === 'time'">
        <mat-label>Set time type</mat-label>
        <mat-select (selectionChange)="makeChangeOption($event, node)" [(ngModel)]="node.option">
          <mat-option *ngFor="let opt of optionOptions" [value]="opt.key">
            {{ opt.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br *ngIf="node.type === 'time'">
      <mat-form-field *ngIf="node.option === 'delay' && node.type === 'time'">
        <mat-label>Set delay</mat-label>
        <input (change)="emitChanges()" [(ngModel)]="node.delay" matInput placeholder="Ex. PT5D" type="text">
      </mat-form-field>
      <div *ngIf="node.option === 'exact' && node.type === 'time'">
        <mat-form-field>
          <input (ngModelChange)="emitChanges()"
                 [(ngModel)]="node.exact"
                 [ngxMatDatetimePicker]="picker"
                 matInput
                 placeholder="Set exact">
          <mat-datepicker-toggle [for]="picker" matPrefix></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #picker
                                   [color]="'primary'"
                                   [enableMeridian]="false"
                                   [showSeconds]="true"
                                   [showSpinners]="true"
                                   [stepHour]="1"
                                   [stepMinute]="5"
                                   [stepSecond]="5"
                                   class="full-width">
          </ngx-mat-datetime-picker>
        </mat-form-field>
      </div>
    </div>
  </mat-tree-node>

  <!-- This is the tree node template for expandable nodes -->

  <mat-nested-tree-node *matTreeNodeDef="let node;when: isRoot">
    <li class="shift-left">
      <button [attr.aria-label]="'toggle ' + node.name" mat-icon-button
              matTreeNodeToggle>
        <mat-icon class="mat-icon-rtl-mirror">
          {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
        </mat-icon>
      </button>
      {{ node.name }}
      <button (click)="addNewItem(node)" mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
      <ul [class.tree-invisible]="!treeControl.isExpanded(node)">
        <ng-container matTreeNodeOutlet></ng-container>
      </ul>
    </li>
  </mat-nested-tree-node>

  <mat-nested-tree-node *matTreeNodeDef="let node;when: hasChildAndNotRoot">
    <li>
      <button [attr.aria-label]="'toggle ' + node.name" mat-icon-button
              matTreeNodeToggle>
        <mat-icon class="mat-icon-rtl-mirror">
          {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
        </mat-icon>
      </button>
      {{ node.name }}
      <button (click)="removeItem(node)" mat-icon-button>
        <mat-icon>remove</mat-icon>
      </button>
      <ul [class.tree-invisible]="!treeControl.isExpanded(node)">
        <ng-container matTreeNodeOutlet></ng-container>
      </ul>
    </li>
  </mat-nested-tree-node>
</mat-tree>

