<div *ngIf="item !== undefined; else elseBlock" fxFlex fxLayout="column" class="height-fix netgrif-input">
    <div fxLayout="row wrap" fxLayoutAlign="start center" class="margin-top32px">
        <div fxFlex="2.5"></div>

        <mat-form-field fxFlex="45">
            <mat-label>Set ID</mat-label>
            <input matInput [ngModel]="item.id" (change)="changeId(item, $event)">
        </mat-form-field>

        <div fxFlex="2.5"></div>

        <mat-form-field fxFlex="45">
            <mat-label>Set Title</mat-label>
            <input matInput [ngModel]="item.title.value" (change)="changeTitle(item, $event)">
        </mat-form-field>

        <div fxFlex="2.5"></div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start center">
        <div fxFlex="2.5"></div>

        <button mat-stroked-button color="primary" (click)="openActions()" mat-dialog-close>
            <mat-icon>code</mat-icon>
            <span>Open Actions</span>
        </button>

        <div fxFlex></div>
    </div>
</div>

<ng-template #elseBlock>
    <div fxLayoutAlign="center center" class="height-fix full-width">
        <span><strong>No role selected</strong></span>
    </div>
</ng-template>
