<div *ngIf="transition !== undefined" class="form">
  <mat-form-field class="full-width">
    <input (change)="onChange($event, 'label')" [ngModel]="getTransitionLabel()" matInput placeholder="Set label"
           type="text">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input (change)="onChange($event, 'icon')" [ngModel]="transition.icon" matInput placeholder="Set icon"
           type="text">
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Set assign policy</mat-label>
    <mat-select (selectionChange)="onChange($event, 'assign')" [(value)]="transition.assignPolicy">
      <mat-option *ngFor="let opt of optionsAssign" [value]="opt.key">
        {{ opt.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Set finish policy</mat-label>
    <mat-select (selectionChange)="onChange($event, 'finish')" [(value)]="transition.finishPolicy">
      <mat-option *ngFor="let opt of optionsFinish" [value]="opt.key">
        {{ opt.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <nab-trigger-tree (changeTriggers)="saveTriggers($event)" [nav]="nav" [triggers]="transition.triggers">
  </nab-trigger-tree>
</div>
<div *ngIf="transition === undefined" class="form">
  <mat-form-field class="full-width">
    <input [(ngModel)]="model.id" matInput placeholder="Identifier" type="text">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input [(ngModel)]="model.initials" matInput placeholder="Initials" type="text">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input [(ngModel)]="model.title.value" matInput placeholder="Title" type="text">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input [(ngModel)]="model.icon" matInput placeholder="Icon" type="text">
  </mat-form-field>
  <mat-slide-toggle [(ngModel)]="model.defaultRole" class="full-width">
    Default role
  </mat-slide-toggle>
  <mat-slide-toggle [(ngModel)]="model.anonymousRole" class="full-width">
    Anonymous role
  </mat-slide-toggle>
  <mat-form-field class="full-width">
    <input [(ngModel)]="model.caseName.value" matInput placeholder="Default case name" type="text">
  </mat-form-field>
</div>
