<h2 mat-dialog-title>Import result</h2>
<mat-dialog-content class="mat-typography">
    <div *ngIf="data.errors.length > 0">
        <h3 class="error">
            <mat-icon>error</mat-icon>
            <span>Errors:</span>
        </h3>
        <p class="paragraph" *ngFor="let error of data.errors">
            {{error}}<br>
        </p>
    </div>

    <div *ngIf="data.warnings.length > 0">
        <h3 class="warning">
            <mat-icon>warning_amber</mat-icon>
            <span>Warnings:</span>
        </h3>
        <p class="paragraph" *ngFor="let warning of data.warnings">
            {{warning}}<br>
        </p>
    </div>

    <div *ngIf="data.info.length > 0">
        <h3 class="info">
            <mat-icon>info_outline</mat-icon>
            <span>Info:</span>
        </h3>
        <p class="paragraph" *ngFor="let info of data.info">
            {{info}}<br>
        </p>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial>Close</button>
</mat-dialog-actions>

