<div class="height-100" fxLayout="col wrap">
  <div class="border-right height-56" fxFlex="35">
    <mat-action-list (matSortChange)="sortData($event)" matSort>
      <div class="header-bottom-border" mat-subheader>
        <p fxFlex="35" mat-sort-header="id"><strong>ID</strong></p>
        <p fxFlex="45" fxHide.lt-xl mat-sort-header="name">Name</p>
        <div fxFlex="45" fxHide fxShow.lt-xl></div>
        <button (click)="addDataVariable()" class="button-line" mat-icon-button matTooltip="Add data variable">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <mat-list-item (click)="setData(item)" (mouseenter)="showIcons($event)"
                     (mouseleave)="hideIcons($event)" *ngFor="let item of dataSource; let i = index"
                     [ngClass]="{'data-selected': selected && selected.id === item.id}" class="item-bottom-border">
        <p class="text-ellipsis" fxFlex="35" fxHide.lt-xl matTooltip="{{item.id}}"><strong>{{ item.id }}</strong>
        </p>
        <p class="text-ellipsis" fxFlex="35" fxHide fxShow.lt-xl matTooltip="{{getItemTitle(item)}}">
          <strong>{{ item.id }}</strong></p>
        <p class="text-ellipsis" fxFlex="45" fxHide.lt-xl
           matTooltip="{{getItemTitle(item)}}">{{ getItemTitle(item) }}</p>
        <div fxFlex="45" fxHide fxShow.lt-xl></div>
        <button (click)="openDialog($event, item)" class="data-edit-list-icon-hidden data-edit-list-icon" mat-icon-button
                matTooltip="Delete data field">
          <mat-icon>delete</mat-icon>
        </button>
        <button (click)="duplicateDataVariable($event, item)" class="data-edit-list-icon-hidden data-edit-list-icon" mat-icon-button
                matTooltip="Duplicate data field">
          <mat-icon>add_to_photos</mat-icon>
        </button>
      </mat-list-item>
    </mat-action-list>
    <mat-paginator (page)="onPageChanged($event)" [length]="length" [pageIndex]="pageIndex" [pageSizeOptions]="pageSizeOptions"
                   [pageSize]="pageSize" class="margin-top10px footer">
    </mat-paginator>
  </div>

  <div class="no-overflow" fxFlex="65">
    <div *ngIf="clicked === 1" class="scroll-vertical">
      <div class="margin-top32px" fxLayout="row wrap" fxLayoutAlign="start center">

        <div fxFlex="2.5"></div>

        <div fxFlex="20">Id</div>

        <div fxFlex="25" fxLayoutAlign="start center">
          <mat-form-field fxFlex>
            <input [(ngModel)]="itemData.id" disabled matInput>
          </mat-form-field>

          <div>
            <button (click)="openRefactorDialog($event, itemData)" mat-icon-button
                    matTooltip="Refactor field ID">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </div>

        <div fxFlex="2.5"></div>

        <div fxFlex="20">Title</div>

        <mat-form-field fxFlex="25">
          <input (change)="setValue($event, itemData, 'name')" [ngModel]="getItemTitle(itemData)" matInput>
        </mat-form-field>

        <div fxFlex="2.5"></div>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start center">

        <div fxFlex="2.5"></div>

        <div fxFlex="20">Type</div>

        <mat-form-field fxFlex="25">
          <mat-select (selectionChange)="setValue($event, itemData, 'type')" [(value)]="itemData.type">
            <mat-option *ngFor="let opt of typeArray" [value]="opt.value">{{ opt.viewValue }}</mat-option>
          </mat-select>
        </mat-form-field>

        <div fxFlex="2.5"></div>

        <div fxFlex="20">Is Immediate?</div>

        <div fxFlex="25">
          <mat-checkbox (change)="setValue($event, itemData, 'immediate')"
                        [(ngModel)]="itemData.immediate"></mat-checkbox>
        </div>

        <div fxFlex="2.5"></div>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start center">

        <div fxFlex="2.5"></div>

        <div fxFlex="20">Placeholder</div>

        <mat-form-field fxFlex="25">
          <input (change)="setValue($event, itemData, 'placeholder')" [ngModel]="getItemPlaceholder(itemData)"
                 matInput>
        </mat-form-field>

        <div fxFlex="2.5"></div>

        <div fxFlex="20">Description</div>

        <mat-form-field fxFlex="25">
          <input (change)="setValue($event, itemData, 'desc')" [ngModel]="getItemDesc(itemData)" matInput>
        </mat-form-field>

        <div fxFlex="2.5"></div>
      </div>

      <div fxLayout="row wrap" fxLayoutAlign="start center">

        <div fxFlex="2.5"></div>

        <div fxFlex="20">Component</div>

        <div fxFlex="25">
          <button (click)="createOrDelete()" color="primary" mat-stroked-button>
            {{ itemData.component === undefined ? 'Add component' : 'Delete component' }}
          </button>
        </div>

        <div fxFlex="2.5"></div>

        <div fxFlex="20">Encryption</div>

        <mat-form-field fxFlex="25">
          <input (change)="setValue($event, itemData, 'encryption')" [(ngModel)]="itemData.encryption"
                 matInput>
        </mat-form-field>

        <div fxFlex="2.5"></div>
      </div>

      <div *ngIf="itemData.component !== undefined" fxLayout="row wrap" fxLayoutAlign="start center">

        <div fxFlex="2.5"></div>

        <div fxFlex="20">Component Name</div>

        <mat-form-field fxFlex="25">
          <input (change)="setValue($event, itemData, 'component-name')" [(ngModel)]="itemData.component.name"
                 matInput>
        </mat-form-field>

        <div fxFlex="2.5"></div>

        <div fxFlex="45" fxLayout="column">
          <div class="margin-html">
            <div *ngIf="itemData.component.properties.length > 0">
              <div *ngFor="let property of itemData.component.properties; let i = index">
                <mat-form-field class="margin-right8px" fxFlex="45">
                  <input (change)="setValue($event, itemData, 'property_key', i)" [value]="property.key" matInput
                         placeholder="Key" type="text">
                </mat-form-field>
                <mat-form-field class="margin-right8px" fxFlex="45">
                  <input (change)="setValue($event, itemData, 'property_value', i)" [value]="property.value"
                         matInput
                         placeholder="Value" type="text">
                </mat-form-field>
                <button (click)="deleteProperty(i)" fxFlex="10" mat-icon-button>
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
            <div *ngIf="itemData.component.properties.length === 0" class="no-options"
                 fxLayoutAlign="center center">
              <span>Empty</span>
            </div>
          </div>
          <button (click)="addProperty()" class="button-text" mat-stroked-button>
            <mat-icon>add</mat-icon>
            Add property
          </button>
        </div>

        <div fxFlex="2.5"></div>
      </div>

      <!--            <div fxLayout="row wrap" fxLayoutAlign="start center" *ngIf="!isOptionField(itemData.type)">-->
      <div fxLayout="row wrap" fxLayoutAlign="start center">

        <div fxFlex="2.5"></div>

        <div fxFlex="20">Init Value</div>

        <mat-form-field *ngIf="!isOptionField(itemData.type) && itemData.type !== 'taskRef'" fxFlex="25">
          <input (change)="setValue($event, itemData, 'init')" [ngModel]="getItemInitExpression(itemData)"
                 matInput>
        </mat-form-field>

        <mat-form-field *ngIf="isOptionField(itemData.type)" class="full-width" fxFlex="25">
          <mat-label>Initial value</mat-label>
          <mat-select *ngIf="!hasInits(itemData.type); else hasInitsItems" [(ngModel)]="itemData.init.value">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let opt of itemData.options" [value]="opt.key">
              {{ opt.value?.value }}
            </mat-option>
          </mat-select>
          <ng-template #hasInitsItems>
            <mat-select (valueChange)="changeInitsValue($event)"
                        [value]="getInitsValue()" multiple>
              <mat-option *ngFor="let opt of itemData.options" [value]="opt.key">
                {{ opt.value?.value }}
              </mat-option>
            </mat-select>
          </ng-template>
        </mat-form-field>

        <mat-form-field *ngIf="itemData.type === 'taskRef'" fxFlex="25">
          <input [formControl]="formControlRef"
                 [matAutocomplete]="auto"
                 aria-label="Autocomplete"
                 matInput
                 type="text">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="renderSelection" autoActiveFirstOption>
            <mat-option (click)="clickOption(itemData, option.key)" *ngFor="let option of filteredOptions | async"
                        [disabled]="isDisabled(option.key)" [value]="option.key">
              {{ option.key }} - {{ option.value }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>


        <div fxFlex="2.5"></div>

        <div fxFlex="20">
          Is Init Dynamic?
        </div>

        <div fxFlex="25">
          <mat-checkbox (change)="setValue($event, itemData, 'dynamic-init')"
                        [ngModel]="getItemInitDynamic(itemData)"></mat-checkbox>
        </div>

        <div fxFlex="2.5"></div>
      </div>
      <!--            <div fxLayout="row wrap" fxLayoutAlign="start center" *ngIf="isOptionField(itemData.type)">-->
      <!--                <div fxFlex="2.5"></div>-->
      <!--                <div fxFlex="20">-->
      <!--                    Is Init Dynamic?-->
      <!--                </div>-->
      <!--                <div fxFlex="25">-->
      <!--                    <mat-checkbox [ngModel]="getItemInitDynamic(itemData)"-->
      <!--                                  (change)="setValue($event, itemData, 'dynamic-init')"></mat-checkbox>-->
      <!--                </div>-->
      <!--                <div fxFlex="2.5"></div>-->
      <!--                <div *ngIf="itemData.init?.dynamic" fxFlex="50" fxLayout="column">-->
      <!--                    <div class="margin-html">-->
      <!--                        <div *ngIf="itemData.inits?.length > 0">-->
      <!--                            <div *ngFor="let init of itemData.inits; let i = index">-->
      <!--                                <mat-form-field class=" margin-right8px" fxFlex="90">-->
      <!--                                    &lt;!&ndash; TODO: fix expression result type &ndash;&gt;-->
      <!--                                    <input matInput (change)="setValue($event, itemData, 'inits', i)" type="text" [value]="init.expression">-->
      <!--                                </mat-form-field>-->
      <!--                                <button mat-icon-button (click)="deleteInit(i)" fxFlex="10">-->
      <!--                                    <mat-icon>delete</mat-icon>-->
      <!--                                </button>-->
      <!--                            </div>-->
      <!--                        </div>-->
      <!--                        <div fxLayoutAlign="center center" *ngIf="itemData.inits.length === 0"-->
      <!--                             class="no-options">-->
      <!--                            <span>Empty</span>-->
      <!--                        </div>-->
      <!--                    </div>-->
      <!--                    <button mat-stroked-button class="button-text" (click)="addInit()">-->
      <!--                        <mat-icon>add</mat-icon>-->
      <!--                        Add init-->
      <!--                    </button>-->
      <!--                </div>-->
      <!--                <div *ngIf="!itemData.init?.dynamic" fxFlex="50">-->
      <!--                    <div fxFlex="5"></div>-->
      <!--                    <div fxFlex="40">Init Value</div>-->
      <!--                    <mat-form-field fxFlex="50" *ngIf="itemData.type !== 'taskRef'">-->
      <!--                        <input matInput [ngModel]="getItemInitExpression(itemData)"-->
      <!--                               (change)="setValue($event, itemData, 'init')">-->
      <!--                    </mat-form-field>-->
      <!--                    <div fxFlex="5"></div>-->
      <!--                </div>-->
      <!--            </div>-->

      <div *ngIf="itemData.type === 'caseRef' || itemData.type === 'filter'" fxLayout="row wrap"
           fxLayoutAlign="start center">
        <div fxFlex="2.5"></div>
        <div fxFlex="20" fxFlexAlign="start">Allowed Nets</div>
        <div fxFlex="2.5"></div>
        <div fxFlex="72.5" fxLayout="column">
          <div class="margin-html">
            <div *ngIf="itemData.allowedNets?.length > 0">
              <div *ngFor="let net of itemData.allowedNets; let i = index">
                <mat-form-field class=" margin-right8px" fxFlex="90">
                  <input (change)="setValue($event, itemData, 'allowedNets', i)" [value]="net" matInput
                         placeholder="Process identifier" type="text">
                </mat-form-field>
                <button (click)="deleteAllowedNet(i)" fxFlex="10" mat-icon-button>
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
            <div *ngIf="itemData.allowedNets.length === 0" class="no-options"
                 fxLayoutAlign="center center">
              <span>Empty</span>
            </div>
          </div>
          <button (click)="addAllowedNet()" class="button-text" mat-stroked-button>
            <mat-icon>add</mat-icon>
            Add net
          </button>
        </div>
        <div fxFlex="2.5"></div>
      </div>

      <div *ngIf="itemData.type !== 'enumeration' && itemData.type !== 'multichoice'
                        && itemData.type !== 'enumeration_map' && itemData.type !== 'multichoice_map'" fxLayout="row wrap" fxLayoutAlign="start center">
        <div fxFlex="2.5"></div>

        <div fxFlex="20">Validations</div>

        <div fxFlex="75" fxLayout="column">
          <div class="margin-html">
            <div *ngIf="itemData.validations?.length > 0">
              <div *ngFor="let validation of itemData.validations; let i = index">
                <mat-form-field class="margin-right8px" fxFlex="45">
                  <input [(ngModel)]="validation.expression.expression" matInput placeholder="Expression"
                         type="text">
                </mat-form-field>
                <mat-form-field class="margin-right8px" fxFlex="45">
                  <input [(ngModel)]="validation.message.value" matInput placeholder="Message"
                         type="text">
                </mat-form-field>
                <button (click)="deleteValidation(i)" fxFlex="10" mat-icon-button>
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
            <div *ngIf="itemData.validations?.length === 0" class="no-options"
                 fxLayoutAlign="center center">
              <span>Empty</span>
            </div>
          </div>
          <button (click)="addValidation()" class="button-text" mat-stroked-button>
            <mat-icon>add</mat-icon>
            Add validation
          </button>
        </div>

        <div fxFlex="2.5"></div>
      </div>

      <div *ngIf="isOptionField(itemData.type)" class="options"
           fxLayout="row wrap" fxLayoutAlign="start center">
        <div fxFlex="2.5"></div>
        <div fxFlex="20" fxFlexAlign="start">Options</div>
        <div fxFlex="2.5"></div>
        <div fxFlex="72.5" fxLayout="column">
          <div (cdkDropListDropped)="dropOption($event)" cdkDropList class="drag-list margin-html">
            <div *ngIf="itemData.options.length > 0">
              <div *ngFor="let item of itemData.options; let i = index" cdkDrag class="drag-box">
                <mat-icon cdkDragHandle class="icon-color">drag_indicator</mat-icon>
                <mat-form-field *ngIf="!hasSimpleOptions(itemData.type)"
                                class=" margin-right8px option-input">
                  <input (change)="setValue($event, itemData, 'options-key', i)" [value]="item.key" matInput
                         placeholder="Option key" type="text">
                </mat-form-field>
                <mat-form-field class=" margin-right8px option-input">
                  <input (change)="setValue($event, itemData, 'options-value', i)" [value]="item.value?.value"
                         matInput placeholder="Option value" type="text">
                </mat-form-field>
                <button (click)="deleteOption(i)" mat-icon-button>
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
            <div *ngIf="itemData.options.length === 0" class="no-options"
                 fxLayoutAlign="center center">
              <span>No options</span>
            </div>
          </div>
          <button (click)="addOption()" class="button-text" mat-stroked-button>
            <mat-icon>add</mat-icon>
            Add option
          </button>
        </div>
        <div fxFlex="2.5"></div>
      </div>

      <!--            <div *ngIf="itemData.type === 'enumeration_map' || itemData.type === 'multichoice_map'" fxLayout="row wrap"-->
      <!--                 fxLayoutAlign="start center">-->

      <!--                <div fxFlex="2.5"></div>-->

      <!--                <div fxFlex="20">Options Init</div>-->

      <!--                <mat-form-field fxFlex="25">-->
      <!--                    <input matInput [ngModel]="getItemOptionsInitExpression(itemData)"-->
      <!--                           (change)="setValue($event, itemData, 'options-init')">-->
      <!--                </mat-form-field>-->

      <!--                <div fxFlex="2.5"></div>-->

      <!--                <div fxFlex="20">Is Options Init dynamic?</div>-->

      <!--                <mat-form-field fxFlex="25">-->
      <!--                    <input matInput [ngModel]="getItemOptionsInitDynamic(itemData)"-->
      <!--                           (change)="setValue($event, itemData, 'options-init-dynamic')">-->
      <!--                </mat-form-field>-->

      <!--                <div fxFlex="2.5"></div>-->
      <!--            </div>-->
    </div>
  </div>
</div>
