<div #fastContext (mousedown)="mouseClickCounter($event)" id="fastPnContextMenu">
  <div class="menuContent">
    <button (click)="useRegularArc()" color="primary" mat-icon-button>
      <mat-icon svgIcon="arc"></mat-icon>
    </button>
    <button (click)="useResetArc()" color="primary" mat-icon-button>
      <mat-icon svgIcon="resetarc"></mat-icon>
    </button>
    <button (click)="useInhibitorArc()" color="primary" mat-icon-button>
      <mat-icon svgIcon="inhibitor"></mat-icon>
    </button>
    <button (click)="useReadArc()" color="primary" mat-icon-button>
      <mat-icon svgIcon="read"></mat-icon>
    </button>
  </div>
</div>
