<mat-list class="noselect">
  <h2 class="field-list-heading">Data fields</h2>

  <mat-expansion-panel #existingFieldPanel class="field-list-expansion-panel">
    <mat-expansion-panel-header class="field-list-expansion-header">
      <mat-panel-title class="field-list-expansion-title">
        Existing fields
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div fxLayoutAlign="start center">
      <mat-icon fxFlex="13">search</mat-icon>
      <mat-form-field fxFlex="75">
        <input [(ngModel)]="existingFieldsSearchInput" matInput placeholder="search" type="text">
      </mat-form-field>
      <mat-icon (click)="existingFieldsSearchInput=''" *ngIf="existingFieldsSearchInput.length > 0" class="clear-search-icon"
                fxFlex="12">clear
      </mat-icon>
    </div>
    <ng-container *ngFor="let item of existingDataFields">
      <mat-list-item (click)="addExistingField(item)" (dragstart)="dragStartHandlerExisting($event, item)"
                     *ngIf="!isPlaced(item) && containsSearchExpression(item)"
                     class="field-list-mat-list-item"
                     draggable="true">
        <div class="field-list-mat-list-item-title" matTooltip="{{item.title?.value}} [{{item.id}}]">
          <mat-icon class="icon-color">drag_indicator</mat-icon>
          <span>
                        {{ item.title?.value }} [{{ item.id }}]
                    </span>
        </div>
      </mat-list-item>
    </ng-container>
    <ng-container *ngFor="let item of existingDataFields">
      <mat-list-item *ngIf="isPlaced(item) && containsSearchExpression(item)">
        <div class="field-list-mat-list-item-disabled-title" matTooltip="{{item.title?.value}} [{{item.id}}]">
          <mat-icon class="icon-color">drag_indicator</mat-icon>
          <span>{{ item.title?.value }} [{{ item.id }}]</span>
        </div>
      </mat-list-item>
    </ng-container>
  </mat-expansion-panel>

  <mat-expansion-panel #newFieldsPanel class="field-list-expansion-panel">
    <mat-expansion-panel-header class="field-list-expansion-header">
      <mat-panel-title class="field-list-expansion-title">
        Create new fields
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-accordion multi="true">
      <mat-expansion-panel *ngFor="let fieldType of dataFieldTypesList" class="field-list-expansion-panel">
        <mat-expansion-panel-header class="field-list-expansion-header">
          <mat-panel-title class="field-list-expansion-title">
            {{ typeTitle(fieldType.type) }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list-item (click)="addNewField(fieldType.type, component)" (dragstart)="dragStartHandlerNew($event, fieldType.type, component)"
                       *ngFor="let component of fieldType.components"
                       class="field-list-mat-list-item"
                       draggable="true">
          <div class="field-list-mat-list-item-title">
            <mat-icon class="icon-color">drag_indicator</mat-icon>
            <span>{{ shortening(component.title) }}</span>
          </div>
        </mat-list-item>
      </mat-expansion-panel>
    </mat-accordion>

  </mat-expansion-panel>

  <div class="save-back-div">
    <button (click)="backModeler()" class="back-button button-text" mat-stroked-button>
      <mat-icon>keyboard_backspace</mat-icon>
      <span>Back</span>
    </button>
  </div>
</mat-list>
