<div fxLayout="row" fxLayoutAlign="start center" class="netgrif-input inter-field-input">
    <span fxFlex="20">{{name}}</span>
    <div fxFlex="5"></div>
    <mat-form-field fxFlex="15">
        <mat-label>String Id</mat-label>
        <input matInput [(ngModel)]="field.name" disabled>
    </mat-form-field>
    <div fxFlex="5"></div>
    <mat-form-field fxFlex="25">
        <mat-label *ngIf="field.value">Default value</mat-label>
        <input matInput [(ngModel)]="field.value" disabled>
    </mat-form-field>
    <div fxFlex="5"></div>
    <mat-form-field fxFlex="25" *ngIf="translationField">
        <mat-label>Translation</mat-label>
        <input matInput [(ngModel)]="translationField.value" (change)="changeTranslation()">
    </mat-form-field>
</div>
