<div class="description" id="description">
    <nab-action-editor-menu-description
        id="description-content"
        #descriptionComponent>
    </nab-action-editor-menu-description>
</div>

<mat-sidenav-container autosize class="action-editor-container">

    <mat-sidenav
        #drawer
        mode="side"
        position="start"
        class="action-editor-drawer">

        <div class="drawer-tabs">
            <button
                mat-button
                class="drawer-tab"
                [class.drawer-tab-active]="activePanel === 'functions'"
                (click)="onFunctionsButtonClick()">
                <mat-icon>functions</mat-icon>
                Functions
            </button>

            <button
                mat-button
                class="drawer-tab"
                [class.drawer-tab-active]="activePanel === 'references'"
                (click)="onReferencesButtonClick()">
                <mat-icon>link</mat-icon>
                References
            </button>
        </div>

        <div class="interprocess-select-wrapper" *ngIf="interprocessNets?.length">
            <mat-form-field appearance="outline" class="interprocess-select">
                <mat-label>Reference source</mat-label>

                <mat-select
                    [value]="selectedInterprocessNet || 'current'"
                    (selectionChange)="onProcessSelect($event.value)">

                    <mat-option value="current">
                        Current process
                    </mat-option>

                    <mat-option
                        *ngFor="let net of interprocessNets"
                        [value]="net">
                        {{ net.identifier }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="drawer-body">

            <ng-container *ngIf="activePanel === 'functions'">
                <div class="functions-panel">
                    <nab-action-editor-menu
                        [descriptionComponent]="descriptionComponent"
                        [editor]="editor">
                    </nab-action-editor-menu>
                </div>
            </ng-container>

            <ng-container *ngIf="activePanel === 'references'">
                <div
                    class="references-panel references-scroll-container"
                    #referencesScroll>
                    <mat-accordion multi="true">
                        <mat-expansion-panel
                            *ngFor="let configuration of editorConfigurations"
                            [expanded]="isReferenceExpanded(configuration)"
                            (opened)="onReferencePanelOpened(configuration)"
                            (closed)="onReferencePanelClosed(configuration)"
                            [attr.data-type]="configuration.itemType"
                            [ngClass]="{
                                'ref-panel-transition': configuration.itemType === 'transition',
                                'ref-panel-datafield': configuration.itemType === 'datafield'
                            }">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="ref-panel-title">
                                    <mat-icon class="ref-panel-icon">
                                        {{ getReferenceIcon(configuration.itemType) }}
                                    </mat-icon>
                                    <span>{{ getReferenceTitle(configuration) }}</span>
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <div class="references-items">

                                <ng-container *ngIf="configuration.itemType === 'transition'">
                                    <ng-container *ngIf="usingCurrentProcess; else externalTransitionsTpl">
                                        <button
                                            mat-button
                                            class="reference-item reference-item-transition"
                                            *ngFor="let item of configuration.items"
                                            (click)="onReferenceClick(configuration, item)"
                                            [matTooltip]="getReferenceTooltip(configuration, item)"
                                            matTooltipPosition="right">
                                        <span class="reference-main">
                                            <span class="reference-main-label">
                                                {{ getReferenceLabel(item) }}
                                            </span>
                                            <span class="reference-main-id" *ngIf="getReferenceId(item) as id">
                                                [{{ id }}]
                                            </span>
                                        </span>
                                        </button>
                                    </ng-container>

                                    <ng-template #externalTransitionsTpl>
                                        <button
                                            mat-button
                                            class="reference-item reference-item-transition"
                                            *ngFor="let item of externalTransitionItems"
                                            (click)="onReferenceClick(configuration, item)"
                                            [matTooltip]="getReferenceTooltip(configuration, item)"
                                            matTooltipPosition="right">
                                            <span class="reference-main">
                                                <span class="reference-main-label">
                                                    {{ getReferenceLabel(item) }}
                                                </span>
                                                <span class="reference-main-id" *ngIf="getReferenceId(item) as id">
                                                    [{{ id }}]
                                                </span>
                                            </span>
                                        </button>
                                    </ng-template>
                                </ng-container>

                                <ng-container *ngIf="configuration.itemType === 'datafield'">
                                    <ng-container *ngIf="usingCurrentProcess; else externalDataFieldsTpl">
                                        <button
                                            mat-button
                                            class="reference-item reference-item-datafield"
                                            *ngFor="let item of configuration.items"
                                            (click)="onReferenceClick(configuration, item)"
                                            [matTooltip]="getReferenceTooltip(configuration, item)"
                                            matTooltipPosition="right">
                                            <span class="reference-main">
                                                <span class="reference-main-label">
                                                    {{ getReferenceLabel(item) }}
                                                </span>
                                                <span class="reference-main-id" *ngIf="getReferenceId(item) as id">
                                                    [{{ id }}]
                                                </span>
                                            </span>
                                        </button>
                                    </ng-container>

                                    <ng-template #externalDataFieldsTpl>
                                        <button
                                            mat-button
                                            class="reference-item reference-item-datafield"
                                            *ngFor="let item of externalDataFieldItems"
                                            (click)="onReferenceClick(configuration, item)"
                                            [matTooltip]="getReferenceTooltip(configuration, item)"
                                            matTooltipPosition="right">
                                            <span class="reference-main">
                                                <span class="reference-main-label">
                                                    {{ getReferenceLabel(item) }}
                                                </span>
                                                <span class="reference-main-id" *ngIf="getReferenceId(item) as id">
                                                    [{{ id }}]
                                                </span>
                                            </span>
                                        </button>
                                    </ng-template>
                                </ng-container>

                                <ng-container
                                    *ngIf="configuration.itemType !== 'transition' && configuration.itemType !== 'datafield'">
                                    <button
                                        mat-button
                                        class="reference-item"
                                        *ngFor="let item of configuration.items"
                                        (click)="onReferenceClick(configuration, item)"
                                        [matTooltip]="getReferenceTooltip(configuration, item)"
                                        matTooltipPosition="right">
                                        <span class="reference-main">
                                            <span class="reference-main-label">
                                                {{ getReferenceLabel(item) }}
                                            </span>
                                            <span class="reference-main-id" *ngIf="getReferenceId(item) as id">
                                                [{{ id }}]
                                            </span>
                                        </span>
                                    </button>
                                </ng-container>

                            </div>

                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </ng-container>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>

        <mat-expansion-panel
            (closed)="setHeightOnClose(index, action); closeDrawer()"
            [id]="action.event + '_' + action.phase + '_' + index"
            class="panel-fix">

            <mat-expansion-panel-header class="header">
                Action: {{ action.id }}
            </mat-expansion-panel-header>

            <ng-template matExpansionPanelContent>

                <div
                    fxLayout="row"
                    fxLayoutAlign="space-between center"
                    class="top-toolbar">

                    <button
                        type="button"
                        mat-stroked-button
                        class="toggle-button"
                        (click)="onMainToggleClick()">
                        <mat-icon>menu_open</mat-icon>
                        <span class="toggle-label">
                            {{ activePanel === 'functions' ? 'Functions' : 'References' }}
                        </span>
                        <mat-icon>
                            {{ drawer.opened ? 'chevron_left' : 'chevron_right' }}
                        </mat-icon>
                    </button>

                    <div class="top-toolbar-actions">
                        <button
                            mat-stroked-button
                            color="primary"
                            (click)="openAiAssistantDialog()">
                            <mat-icon>smart_toy</mat-icon>
                            AI Assistant
                        </button>

                        <button
                            mat-icon-button
                            (click)="openDialog(index)"
                            aria-label="Delete action">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>

                <div
                    fxLayout="column"
                    fxLayoutAlign="start stretch"
                    [id]="name + '_div'">
                    <ngx-monaco-editor
                        class="full-size-editor"
                        [id]="name + '_editor'"
                        [options]="editorOptions"
                        [formControl]="formControl"
                        (onInit)="onInit($event)">
                    </ngx-monaco-editor>
                </div>

            </ng-template>
        </mat-expansion-panel>

    </mat-sidenav-content>
</mat-sidenav-container>
