<mat-expansion-panel [disabled]="config.disabled()">
  <mat-expansion-panel-header>
    <mat-panel-title fxLayout="row" fxLayoutAlign="start center">
      <mat-icon>{{ config.icon }}</mat-icon>
      <span>{{ config.title }}</span>
    </mat-panel-title>
    <mat-panel-description>
      {{ config.disabled() ? config.disabledDescription : config.description }}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <!-- TODO: fix using portals -->
  <nab-model-translation *ngIf="isModel()" [translation]="translation"></nab-model-translation>
  <nab-task-translation *ngIf="isTask()" [translation]="translation"></nab-task-translation>
  <nab-data-translation *ngIf="isData()" [translation]="translation"></nab-data-translation>
  <nab-role-translation *ngIf="isRole()" [translation]="translation"></nab-role-translation>
</mat-expansion-panel>
