<div class="app-container">
<!-- TODO: NAB-326 change size of side/tool bar to 32px   -->
    <mat-sidenav-container class="app-mat-sidenav-container">
        <mat-sidenav class="app-mat-viewnav" mode="side" disableClose="true" opened>
            <a href="https://www.netgrif.com" class="logo">
                <img src="../assets/netgrif_logo.svg" alt="Netgrif logo" class="main-toolbar-logo">
            </a>
            <mat-action-list>
                <mat-list-item class="field-list-mat-list-item"
                               title="{{tutorial.demo.title}}"
                               (click)="openInTab('https://demo.netgrif.com/')"
                               matTooltip="Netgrif Demo" matTooltipPosition="right">
                    <mat-icon>play_arrow</mat-icon>
                </mat-list-item>
                <mat-list-item class="field-list-mat-list-item"
                               title="{{tutorial.youtube.title}}"
                               (click)="openInTab('https://www.youtube.com/channel/UCNfqgnjskMMpy7QvOOKhKgw')"
                               matTooltip="Youtube Channel" matTooltipPosition="right">
                    <mat-icon svgIcon="youtube"></mat-icon>
                </mat-list-item>
                <mat-list-item class="field-list-mat-list-item"
                               title="{{tutorial.github.title}}"
                               (click)="openInTab('https://github.com/netgrif')"
                               matTooltip="Github" matTooltipPosition="right">
                    <mat-icon svgIcon="github">device_hub</mat-icon>
                </mat-list-item>
                <mat-list-item class="field-list-mat-list-item"
                               title="{{tutorial.mortgage.title}}"
                                (click)="addMortgage()"
                               matTooltip="Mortgage demo" matTooltipPosition="right">
                    <mat-icon>device_hub</mat-icon>
                </mat-list-item>
            </mat-action-list>
            <mat-action-list class="app-viewnaw-bottom-list ">
                <mat-list-item class="field-list-mat-list-item"
                               title="{{tutorial.bug.title}}"
                               (click)="openInTab('https://github.com/netgrif/application-builder/issues')"
                               matTooltip="Report a bug" matTooltipPosition="right">
                    <mat-icon>bug_report</mat-icon>
                </mat-list-item>
                <mat-list-item class="field-list-mat-list-item"
                               (click)="help()"
                               matTooltip="Help" matTooltipPosition="right">
                    <mat-icon>help</mat-icon>
                </mat-list-item>
            </mat-action-list>
        </mat-sidenav>
        <joyrideStep joyrideStep="{{tutorial.welcome.step}}" stepPosition="{{tutorial.welcome.position}}"
                     title="{{tutorial.welcome.title}}" text="{{tutorial.welcome.text}}"
                     (next)="tutorial.welcome.onNext()"></joyrideStep>
        <router-outlet></router-outlet>
    </mat-sidenav-container>
</div>
