<div (mouseover)="removeLastElement()" class="control" fxLayoutAlign="start center">
  <!--  <mat-form-field class="height-select">-->
  <!--    <mat-select [(value)]="modeSelect">-->
  <!--      <mat-option *ngFor="let opt of modeOptions" [value]="opt.key" [routerLink]="[opt.path]">-->
  <!--        {{opt.value}}-->
  <!--      </mat-option>-->
  <!--    </mat-select>-->
  <!--  </mat-form-field>-->
  <button (click)="shutDownFastPn()" (done)="tutorial.onClose()" (next)="tutorial.modeler.onNext()"
          (prev)="tutorial.modeler.onPrev()" [ngClass]="{'button-highlight': isActiveView('modeler')}" [routerLink]="'./'"
          class="button-line" joyrideStep="{{tutorial.modeler.step}}" mat-icon-button
          matTooltip="Edit view." stepPosition="{{tutorial.modeler.position}}" text="{{tutorial.modeler.text}}"
          title="{{tutorial.modeler.title}}">
    <mat-icon [ngClass]="{'fill-svg': isActiveView('modeler')}">mode_edit_outline</mat-icon>
  </button>

  <button (click)="shutDownFastPn()" (done)="tutorial.onClose()" (next)="tutorial.simulator.onNext()"
          (prev)="tutorial.simulator.onPrev()" [ngClass]="{'button-highlight': isActiveView('simulation')}" [routerLink]="'./simulation'"
          class="button-line" joyrideStep="{{tutorial.simulator.step}}" mat-icon-button
          matTooltip="Simulation view." stepPosition="{{tutorial.simulator.position}}"
          text="{{tutorial.simulator.text}}" title="{{tutorial.simulator.title}}">
    <mat-icon [ngClass]="{'fill-svg': isActiveView('simulation')}">play_circle</mat-icon>
  </button>

  <button (click)="shutDownFastPn()" (done)="tutorial.onClose()" (next)="tutorial.dataEditor.onNext()"
          (prev)="tutorial.dataEditor.onPrev()" [ngClass]="{'button-highlight': isActiveView('data')}" [routerLink]="'./data'"
          class="button-line" joyrideStep="{{tutorial.dataEditor.step}}"
          mat-icon-button matTooltip="Data Edit view." stepPosition="{{tutorial.dataEditor.position}}"
          text="{{tutorial.dataEditor.text}}" title="{{tutorial.dataEditor.title}}">
    <mat-icon [ngClass]="{'fill-svg': isActiveView('data')}" svgIcon="data"></mat-icon>
  </button>

  <button (click)="shutDownFastPn()" (done)="tutorial.onClose()" (next)="tutorial.roleEditor.onNext()"
          (prev)="tutorial.roleEditor.onPrev()" [ngClass]="{'button-highlight': isActiveView('roles')}" [routerLink]="'./roles'"
          class="button-line" joyrideStep="{{tutorial.roleEditor.step}}"
          mat-icon-button matTooltip="Role Edit view." stepPosition="{{tutorial.roleEditor.position}}"
          text="{{tutorial.roleEditor.text}}" title="{{tutorial.roleEditor.title}}">
    <mat-icon [ngClass]="{'fill-svg': isActiveView('roles')}">group_add</mat-icon>
  </button>

  <button (click)="shutDownFastPn()" (done)="tutorial.onClose()" (next)="tutorial.actions.onNext()"
          (prev)="tutorial.actions.onPrev()" [ngClass]="{'button-highlight': isActiveView('actions')}" [routerLink]="'./actions'"
          class="button-line" joyrideStep="{{tutorial.actions.step}}" mat-icon-button
          matTooltip="Actions Edit view." stepPosition="{{tutorial.actions.position}}" text="{{tutorial.actions.text}}"
          title="{{tutorial.actions.title}}">
    <mat-icon [ngClass]="{'fill-svg': isActiveView('actions')}">code</mat-icon>
  </button>

  <button (click)="shutDownFastPn(); refreshI18n()" (done)="tutorial.onClose()" (next)="tutorial.i18n.onNext()"
          (prev)="tutorial.i18n.onPrev()" [ngClass]="{'button-highlight': isActiveView('i18n')}" [routerLink]="'./i18n'"
          class="button-line" joyrideStep="{{tutorial.i18n.step}}" mat-icon-button
          matTooltip="Internationalization view." stepPosition="{{tutorial.i18n.position}}" text="{{tutorial.i18n.text}}"
          title="{{tutorial.i18n.title}}">
    <mat-icon [ngClass]="{'fill-svg': isActiveView('i18n')}">translate</mat-icon>
  </button>

  <mat-divider [vertical]="true" class="style-fix margin8px"></mat-divider>

  <!--OPEN-->
  <button (click)="xmlFileInput.click(); shutDownFastPn()" class="button-line" mat-icon-button
          matTooltip="Choose a XML file to open.">
    <input #xmlFileInput (change)="openModel($event)" accept=".xml" class="button--input" id="otvorSubor" type="file"/>
    <label id="otvorSuborButton">
      <mat-icon>upload</mat-icon>
    </label>
  </button>

  <button (click)="bpmnFileInput.click(); shutDownFastPn()" class="button-line" mat-icon-button
          matTooltip="Choose a BPMN file to open.">
    <input #bpmnFileInput (change)="importBpmn($event)" accept=".bpmn" class="button--input" id="otvorSuborBpmn"
           type="file"/>
    <label id="otvorSuborBpmnButton">
      <mat-icon>upload_file</mat-icon>
    </label>
  </button>

  <!--SAVE AS XML-->
  <button (click)="exportAsXML(); shutDownFastPn()" class="button-line" mat-icon-button
          matTooltip="Save as an XML file.">
    <mat-icon>download</mat-icon>
  </button>

  <!--    SAVES MENU-->
  <button [matMenuTriggerFor]="savesMenu" class="toolbarButton button-line" mat-icon-button
          matTooltip="Other import/export functions">
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>
  <mat-menu #savesMenu="matMenu" (click)="shutDownFastPn()">
    <button (click)="exportAsSVG()" mat-menu-item>
      <mat-icon>save_as</mat-icon>
      Export as SVG
    </button>
  </mat-menu>

  <mat-divider [vertical]="true" class="style-fix margin8px"></mat-divider>

  <div *ngIf="modeSelect === 'modeler'" class="flexis">

    <!--CLEAR-->
    <button (click)="clearModel(); shutDownFastPn()" class="button-line"
            mat-icon-button
            matTooltip="Clear will delete the actual Petri net model, any unsaved changes will be lost.">
      <mat-icon>delete_forever</mat-icon>
    </button>

    <button (click)="modelMetaData(); shutDownFastPn()" [ngClass]="{'button-highlight': isActive('model')}" class="button-line"
            mat-icon-button matTooltip="Model metadata">
      <mat-icon [ngClass]="{'fill-svg': isActive('model')}">settings</mat-icon>
    </button>

    <!--  OPEN MODEL MENU-->
    <button (click)="shutDownFastPn()" [matMenuTriggerFor]="modelMenu" [ngClass]="{'button-highlight': isActive('model')}"
            class="toolbarButton button-line" mat-icon-button
            matTooltip="Set Model Metadata OR Manage Process Permissions">
      <mat-icon [ngClass]="{'fill-svg': isActive('model')}">keyboard_arrow_down</mat-icon>
    </button>

    <!--  MODEL MENU-->
    <mat-menu #modelMenu="matMenu">
      <button (click)="manageProcessPermissions()" mat-menu-item>
        <mat-icon>people</mat-icon>
        Manage Process Permissions
      </button>
    </mat-menu>

    <mat-divider [vertical]="true" class="style-fix margin8px"></mat-divider>

    <button (click)="sideNav(); shutDownFastPn()" [ngClass]="{'button-highlight': isActive('select')}" class="button-line"
            mat-icon-button matTooltip="Select tool">
      <mat-icon [ngClass]="{'fill-svg': isActive('select')}" svgIcon="cursor-default-outline"></mat-icon>
    </button>

    <!--TRANSITION-->
    <button (click)="reset('transition')" [ngClass]="{'button-highlight': isActive('transition') }" class="button-line"
            mat-icon-button matTooltip="Transition.">
      <mat-icon [ngClass]="{'fill-svg': isActive('transition')}" svgIcon="transition"></mat-icon>
    </button>

    <!--PLACE-->
    <button (click)="reset('place')" [ngClass]="{'button-highlight': isActive('place') }" class="button-line"
            mat-icon-button matTooltip="Place.">
      <mat-icon [ngClass]="{'fill-svg': isActive('place')}" svgIcon="place"></mat-icon>
    </button>

    <!--FAST PN-->
    <button (click)="startFastPn()" [ngClass]="{'button-highlight': isFastPn()}" class="button-line" mat-icon-button
            matTooltip="Fast PN">
      <mat-icon [ngClass]="{'fill-svg': isActive('fastpn')}">bolt</mat-icon>
    </button>

    <!--ADD TOKEN-->
    <button (click)="reset('addtoken')" [ngClass]="{'button-highlight': isActive('addtoken')}" class="button-line"
            mat-icon-button matTooltip="Add token.">
      <mat-icon [ngClass]="{'fill-svg': isActive('addtoken')}">add_circle_outline</mat-icon>
    </button>

    <!--REMOVE TOKEN-->
    <button (click)="reset('removetoken')" [ngClass]="{'button-highlight': isActive('removetoken')}" class="button-line"
            mat-icon-button matTooltip="Remove token.">
      <mat-icon [ngClass]="{'fill-svg': isActive('removetoken')}" class="material-icons-outlined">
        remove_circle_outline
      </mat-icon>
    </button>

    <!--SET LABEL-->
    <button (click)="reset('label')" [ngClass]="{'button-highlight': isActive('label')}" class="button-line"
            mat-icon-button matTooltip="Change Label.">
      <mat-icon [ngClass]="{'fill-svg': isActive('label')}">drive_file_rename_outline</mat-icon>
    </button>

    <!--SET MARKING-->
    <button (click)="reset('marking')" [ngClass]="{'button-highlight': isActive('marking')}" class="button-line"
            mat-icon-button matTooltip="Change Marking">
      <mat-icon [ngClass]="{'fill-svg': isActive('marking')}" svgIcon="marking"></mat-icon>
    </button>

    <mat-divider [vertical]="true" class="style-fix margin8px"></mat-divider>

    <!--ARC-->
    <button (click)="reset('arc')" [ngClass]="{'button-highlight': isActive('arc')}" class="button-line" mat-icon-button
            matTooltip="Arc.">
      <mat-icon [ngClass]="{'fill-svg': isActive('arc')}" svgIcon="arc"></mat-icon>
    </button>

    <!--ARC WEIGHT-->
    <button (click)="reset('arc_weight')" [ngClass]="{'button-highlight': isActive('arc_weight')}" class="button-line"
            mat-icon-button matTooltip="Arc Weight.">
      <mat-icon [ngClass]="{'fill-svg': isActive('arc_weight')}" svgIcon="arcweight"></mat-icon>
    </button>

    <!--ARC DATA REF-->
    <button (click)="reset('arc_dataref')" [ngClass]="{'button-highlight': isActive('arc_dataref')}" class="button-line"
            mat-icon-button matTooltip="Arc Data Reference.">
      <mat-icon [ngClass]="{'fill-svg': isActive('arc_dataref')}" svgIcon="arcdataref"></mat-icon>
    </button>

    <!--ARC PLACE REF-->
    <button (click)="reset('arc_placeref')" [ngClass]="{'button-highlight': isActive('arc_placeref')}" class="button-line"
            mat-icon-button matTooltip="Arc Place Reference.">
      <mat-icon [ngClass]="{'fill-svg': isActive('arc_placeref')}" svgIcon="arcplaceref"></mat-icon>
    </button>

    <!--RESET ARC-->
    <button (click)="reset('resetarc')" [ngClass]="{'button-highlight': isActive('resetarc')}" class="button-line"
            mat-icon-button matTooltip="Reset Arc.">
      <mat-icon [ngClass]="{'fill-svg': isActive('resetarc')}" svgIcon="resetarc"></mat-icon>
    </button>

    <!--INHIBITOR ARC-->
    <button (click)="reset('inhibitorarc')" [ngClass]="{'button-highlight': isActive('inhibitorarc')}" class="button-line"
            mat-icon-button matTooltip="Inhibitor Arc.">
      <mat-icon [ngClass]="{'fill-svg': isActive('inhibitorarc')}" svgIcon="inhibitor"></mat-icon>
    </button>

    <!--READ ARC-->
    <button (click)="reset('readarc')" [ngClass]="{'button-highlight': isActive('readarc')}" class="button-line"
            mat-icon-button matTooltip="Read Arc.">
      <mat-icon [ngClass]="{'fill-svg': isActive('readarc')}" svgIcon="read"></mat-icon>
    </button>

    <mat-divider [vertical]="true" class="style-fix margin8px"></mat-divider>

    <!--ALIGN ELEMENTS-->
    <button (click)="alignElements(); shutDownFastPn()" class="button-line" mat-icon-button
            matTooltip="Align elements (places and transitions) into a grid." matTooltipPosition="right">
      <mat-icon>vertical_align_center</mat-icon>
    </button>

    <!--DELETE-->
    <button (click)="reset('delete')" [ngClass]="{'button-highlight': isActive('delete')}" class="button-line"
            mat-icon-button matTooltip="Delete.">
      <mat-icon [ngClass]="{'fill-svg': isActive('delete')}">delete_outline</mat-icon>
    </button>

    <!--MOVE-->
    <button (click)="reset('move')" [ngClass]="{'button-highlight': isActive('move') }" class="button-line"
            mat-icon-button matTooltip="Move.">
      <mat-icon [ngClass]="{'fill-svg': isActive('move')}">open_with</mat-icon>
    </button>

    <mat-divider [vertical]="true" class="style-fix margin8px"></mat-divider>

    <button (click)="propertiesM(); shutDownFastPn()" class="button-line" mat-icon-button
            matTooltip="Model properties.">
      <mat-icon svgIcon="properties"></mat-icon>
    </button>
    <button (click)="about(); shutDownFastPn()" class="button-line" mat-icon-button matTooltip="About.">
      <mat-icon class="material-icons-outlined">info</mat-icon>
    </button>

  </div>

  <div *ngIf="modeSelect === 'simulation'" class="flexis">
    <!--  RESET SIMULATION-->
    <button (click)="resetSimulation()" class="button-line" mat-icon-button
            matTooltip="Reset simulation.">
      <mat-icon>restart_alt</mat-icon>
    </button>

    <!--  START SIMULATION-->
    <button (click)="reset('fire')" [ngClass]="{'button-highlight': isActive('fire')}" class="button-line"
            mat-icon-button matTooltip="Simulation by Tasks.">
      <mat-icon [ngClass]="{'fill-svg': isActive('fire')}">play_arrow</mat-icon>
    </button>

    <!--  START TASK SIMULATION-->
    <button (click)="reset('fire-task')" [ngClass]="{'button-highlight': isActive('fire-task')}" class="button-line"
            mat-icon-button matTooltip="Simulation by Events.">
      <mat-icon [ngClass]="{'fill-svg': isActive('fire-task')}">fast_forward</mat-icon>
    </button>
  </div>

  <div *ngIf="modeSelect === 'actions'">
    <!--    <mat-form-field class="height-select padding16px">-->
    <!--      <mat-select [(value)]="selectedDatas" (selectionChange)="changeDatas($event)">-->
    <!--        <mat-option *ngFor="let opt of selectDatas" [value]="opt.key">-->
    <!--          {{opt.value}}-->
    <!--        </mat-option>-->
    <!--      </mat-select>-->
    <!--    </mat-form-field>-->
    <button (click)="changeData('dataVariable'); shutDownFastPn()" [ngClass]="{'button-highlight': isSelected('dataVariable')}" class="button-line"
            mat-icon-button
            matTooltip="Data Variables">
      <mat-icon [ngClass]="{'fill-svg': isSelected('dataVariable')}">all_inbox</mat-icon>
    </button>

    <button (click)="changeData('transition'); shutDownFastPn()" [ngClass]="{'button-highlight': isSelected('transition')}" class="button-line"
            mat-icon-button
            matTooltip="Transitions">
      <mat-icon [ngClass]="{'fill-svg': isSelected('transition')}" class="material-icons-outlined">auto_awesome_motion
      </mat-icon>
    </button>

    <button (click)="changeData('role_actions'); shutDownFastPn()" [ngClass]="{'button-highlight': isSelected('role_actions')}" class="button-line"
            mat-icon-button
            matTooltip="Roles">
      <mat-icon [ngClass]="{'fill-svg': isSelected('role_actions')}">person</mat-icon>
    </button>

    <button (click)="changeData('process_case'); shutDownFastPn()" [ngClass]="{'button-highlight': isSelected('process_case')}" class="button-line"
            mat-icon-button
            matTooltip="Process & Case">
      <mat-icon [ngClass]="{'fill-svg': isSelected('process_case')}">device_hub</mat-icon>
    </button>

    <button (click)="changeData('functions'); shutDownFastPn()" [ngClass]="{'button-highlight': isSelected('functions')}" class="button-line"
            mat-icon-button
            matTooltip="Functions">
      <mat-icon [ngClass]="{'fill-svg': isSelected('functions')}">functions</mat-icon>
    </button>
  </div>

  <div *ngIf="modeSelect === 'i18n'">
    <button (click)="resetI18n('languages'); shutDownFastPn()" [ngClass]="{'button-highlight': isActiveI18n('languages')}" class="button-line"
            mat-icon-button
            matTooltip="Languages">
      <mat-icon [ngClass]="{'fill-svg': isActiveI18n('languages')}">language</mat-icon>
    </button>

    <button (click)="resetI18n('translations'); shutDownFastPn()" [ngClass]="{'button-highlight': isActiveI18n('translations')}" class="button-line"
            mat-icon-button
            matTooltip="Translations">
      <mat-icon [ngClass]="{'fill-svg': isActiveI18n('translations')}">translate</mat-icon>
    </button>
  </div>
</div>

