<div class="height-100" style="display: flex;">
    <div class="border-right height-100" style="display: flex; flex-direction: column; flex: 1 1 25%; max-width: 25%">
        <mat-action-list class="no-overflow" matSort (matSortChange)="sortData($event)">
            <div *ngIf="!isFunctionsModeSelected()">
                <div mat-subheader class="header-bottom-border">
                    <p fxFlex="35" mat-sort-header="id"><strong>ID</strong></p>
                    <p fxFlex mat-sort-header="name">Name</p>
                </div>
                <mat-list-item class="item-bottom-border"
                               [ngClass]="{'data-selected': this.selectedDt && this.selectedDt.id === item.id}"
                               *ngFor="let item of dataSourceList" (click)="setData(item)" style="display: flex;">
                    <p class="text-ellipsis" matTooltip="{{item.id}}"
                       style="display: flex; flex: 1 1 35%; max-width: 35%"><strong>{{ item.id }}</strong></p>
                    <p class="text-ellipsis" matTooltip="{{getItemTitle(item)}}"
                       style="display: flex;">{{ getItemTitle(item) }}</p>
                </mat-list-item>
            </div>
            <div *ngIf="isFunctionsModeSelected()">
                <div mat-subheader class="header-bottom-border">
                    <p fxFlex="60">Name</p>
                    <p fxFlex="30">Scope</p>
                    <button mat-icon-button class="button-line" matTooltip="Add function" (click)="addFunction()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <mat-list-item class="item-bottom-border"
                               [ngClass]="{'data-selected': this.selectedFn && this.selectedFn === item}"
                               *ngFor="let item of dataSourceList" (click)="setData(item)"
                               (mouseenter)="showIcons($event)" (mouseleave)="hideIcons($event)">
                    <p fxFlex="60" class="text-ellipsis" matTooltip="{{item.name}}">{{ item.name }}</p>
                    <p fxFlex="30" class="text-ellipsis"
                       matTooltip="{{item.scope}}">{{ item.scope }}</p>
                    <button mat-icon-button matTooltip="Delete function" (click)="openDialog($event, item)"
                            class="function-list-icon-hidden function-icon">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-list-item>
            </div>
        </mat-action-list>
        <mat-paginator class="footer" [length]="lengthList" [pageSize]="pageSizeList"
                       [pageIndex]="pageIndexList"
                       [pageSizeOptions]="pageSizeOptionsList" (page)="onPageChanged($event)" showFirstLastButtons>
        </mat-paginator>
    </div>

    <div class="no-overflow" *ngIf="!isFunctionsModeSelected()" style="display: flex; flex: 1 1 75%; max-width: 75%">
        <mat-tree class="tree overflow-hidden" [dataSource]="dataSource" [treeControl]="treeControl"
                  style="display: flex; flex-direction: column; flex: auto">
            <!--  Leaf node template  -->
            <mat-tree-node *matTreeNodeDef="let node; when isLeafNode" #actionNode>
                @defer (on viewport) {
                    <div class="mat-tree-node tree-offset" fxLayout="row" fxLayoutAlign="start center">
                        <nab-action-editor-list [leafNode]="node"
                                                (actionChanged)="actionChangedListener($event, node)"
                                                (drawerOpened)="checkDrawer($event)"
                                                class="full-width editor-list-area-padding"></nab-action-editor-list>
                    </div>
                } @placeholder {
                    <div>loading...</div>
                }
            </mat-tree-node>
            <!--  Inner node template  -->
            <mat-nested-tree-node *matTreeNodeDef="let node; when: isInnerNode" matTreeNodePadding #eventNode>
                <div class="mat-tree-node" fxLayout="row" fxLayoutAlign="start center">
                    <button mat-icon-button matTreeNodeToggle
                            [attr.aria-label]="'toggle ' + node.name">
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
                        </mat-icon>
                    </button>
                    <span>{{ node.title }} ({{ node.actionCount.getValue() }})</span>
                </div>
                <div class="tree-offset" [class.tree-node-invisible]="!treeControl.isExpanded(node)">
                    <ng-container matTreeNodeOutlet></ng-container>
                </div>
            </mat-nested-tree-node>
            <!--  + node template  -->
            <mat-nested-tree-node *matTreeNodeDef="let node; when: isAddNode" matTreeNodePadding #phaseNode>
                <div class="mat-tree-node" fxLayout="row" fxLayoutAlign="start center">
                    <button mat-icon-button matTreeNodeToggle
                            [attr.aria-label]="'toggle ' + node.name"
                            [disabled]="!actionsExpandable(node)">
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
                        </mat-icon>
                    </button>
                    <span>{{ node.title }} ({{ node.actionCount.getValue() }})</span>
                    <button mat-icon-button (click)="newAction(node)">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <div class="tree-offset" [class.tree-node-invisible]="!treeControl.isExpanded(node)">
                    <ng-container matTreeNodeOutlet></ng-container>
                </div>
            </mat-nested-tree-node>
        </mat-tree>
    </div>
    <div fxFlex="75" class="no-overflow" *ngIf="isFunctionsModeSelected()">
        <div *ngIf="this.selectedFn && isFunctionSelected()" class="scroll-vertical">
            <div fxLayout="row wrap" fxLayoutAlign="start center" class="margin-top32px">
                <div fxFlex="2.5"></div>
                <div fxFlex="20">Name</div>
                <div fxFlex="25" fxLayoutAlign="start center">
                    <mat-form-field fxFlex>
                        <input matInput [(ngModel)]="this.selectedFn.name" (change)="updateFunctions()">
                    </mat-form-field>
                </div>
                <div fxFlex="2.5"></div>
                <div fxFlex="20">Scope</div>
                <mat-form-field fxFlex="25">
                    <mat-select [(value)]="this.selectedFn.scope">
                        <mat-option *ngFor="let opt of functionScopes"
                                    [value]="opt.value">{{ opt.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div fxFlex="2.5"></div>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="start center" class="margin-top32px">
                <div fxFlex="2.5"></div>
                <nab-function-editor fxFlex="95" [fn]="this.selectedFn"></nab-function-editor>
                <div fxFlex="2.5"></div>
            </div>
        </div>
    </div>
</div>
