<div *ngIf="item !== undefined; else elseBlock" fxFlex fxLayout="column">
    <div fxLayout="row wrap" fxLayoutAlign="start center" class="margin-top32px">

        <div fxFlex="2.5"></div>

        <div fxFlex="45" fxLayoutAlign="start start">
            <mat-form-field fxFlex>
                <mat-label>Id</mat-label>
                <input matInput disabled [(ngModel)]="item.id">
            </mat-form-field>

            <div>
                <button mat-icon-button matTooltip="Refactor field ID"
                        (click)="openRefactorDialog()">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
        </div>

        <div fxFlex="2.5"></div>

        <mat-form-field fxFlex="45">
            <mat-label>Title</mat-label>
            <input matInput [ngModel]="item?.title?.value" (change)="setValue($event,'name')">
        </mat-form-field>

        <div fxFlex="2.5"></div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start center">

        <div fxFlex="2.5"></div>

        <mat-form-field fxFlex="45">
            <mat-label>Type</mat-label>
            <mat-select [(value)]="item.type" (selectionChange)="setValue($event,'type')">
                <mat-option *ngFor="let opt of typeArray" [value]="opt.value">{{ opt.viewValue }}</mat-option>
            </mat-select>
        </mat-form-field>

        <div fxFlex="2.5"></div>

        <div fxFlex="20">Is Immediate?</div>

        <div fxFlex="25">
            <mat-checkbox [(ngModel)]="item.immediate"
                          (change)="setValue($event,'immediate')"></mat-checkbox>
        </div>

        <div fxFlex="2.5"></div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start center">

        <div fxFlex="2.5"></div>

        <mat-form-field fxFlex="45">
            <mat-label>Placeholder</mat-label>
            <input matInput [ngModel]="item?.placeholder?.value"
                   (change)="setValue($event,'placeholder')">
        </mat-form-field>

        <div fxFlex="2.5"></div>

        <mat-form-field fxFlex="45">
            <mat-label>Description</mat-label>
            <textarea matInput [ngModel]="item?.desc.value"
                      (change)="setValue($event,'desc')"></textarea>
        </mat-form-field>

        <div fxFlex="2.5"></div>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="start center">

        <div fxFlex="2.5"></div>

        <div fxFlex="20">Component</div>

        <div fxFlex="25">
            <button mat-stroked-button color="primary" (click)="createOrDelete()">
                {{ item?.component === undefined ? 'Add component' : 'Delete component' }}
            </button>
        </div>

        <div fxFlex="2.5"></div>

        <mat-form-field fxFlex="45">
            <mat-label>Encryption</mat-label>
            <input matInput [(ngModel)]="item.encryption"
                   (change)="setValue($event,'encryption')">
        </mat-form-field>

        <div fxFlex="2.5"></div>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="start center" *ngIf="item.component !== undefined">

        <div fxFlex="2.5"></div>

        <div fxFlex="20">Component Name</div>

        <mat-form-field fxFlex="25">
            <input matInput [(ngModel)]="item.component.name"
                   (change)="setValue($event,'component-name')">
        </mat-form-field>

        <div fxFlex="2.5"></div>

        <div fxFlex="45" fxLayout="column">
            <div class="margin-html">
                <div *ngIf="item.component.properties.length > 0">
                    <div *ngFor="let property of item.component.properties; let i = index">
                        <mat-form-field fxFlex="45" class="margin-right8px">
                            <input matInput (change)="setValue($event,'property_key', i)" type="text"
                                   placeholder="Key" [value]="property.key">
                        </mat-form-field>
                        <mat-form-field fxFlex="45" class="margin-right8px">
                            <input matInput (change)="setValue($event,'property_value', i)"
                                   type="text"
                                   placeholder="Value" [value]="property.value">
                        </mat-form-field>
                        <button fxFlex="10" mat-icon-button (click)="deleteProperty(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
                <div fxLayoutAlign="center center" *ngIf="item.component.properties.length === 0"
                     class="no-options">
                    <span>Empty</span>
                </div>
            </div>
            <button mat-stroked-button class="button-text" (click)="addProperty()">
                <mat-icon>add</mat-icon>
                Add property
            </button>
        </div>

        <div fxFlex="2.5"></div>
    </div>

    <!--            <div fxLayout="row wrap" fxLayoutAlign="start center" *ngIf="!isOptionField(item.type)">-->
    <div fxLayout="row wrap" fxLayoutAlign="start center">

        <div fxFlex="2.5"></div>

        <mat-form-field fxFlex="45" *ngIf="!isOptionField() && item.type !== 'taskRef'">
            <mat-label>Initial value</mat-label>
            <input matInput [ngModel]="item?.init?.value"
                   (change)="setValue($event, 'init')">
        </mat-form-field>

        <mat-form-field fxFlex="45" *ngIf="isOptionField()" class="full-width">
            <mat-label>Initial value</mat-label>
            <mat-select *ngIf="!hasInits(); else hasInitsItems" [(ngModel)]="item.init.value">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let opt of item.options" [value]="opt.key">
                    {{ opt.value?.value }}
                </mat-option>
            </mat-select>
            <ng-template #hasInitsItems>
                <mat-select (valueChange)="changeInitsValue($event)"
                            [value]="getInitsValue()" multiple>
                    <mat-option *ngFor="let opt of item.options" [value]="opt.key">
                        {{ opt.value?.value }}
                    </mat-option>
                </mat-select>
            </ng-template>
        </mat-form-field>

        <mat-form-field fxFlex="25" *ngIf="item.type === 'taskRef'">
            <input type="text"
                   aria-label="Autocomplete"
                   matInput
                   [formControl]="formControlRef">
            <!--                           [matAutocomplete]="auto">-->
            <!--                    <mat-autocomplete [displayWith]="renderSelection" autoActiveFirstOption #auto="matAutocomplete">-->
            <!--                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.key"-->
            <!--                                    (click)="clickOption(item, option.key)" [disabled]="isDisabled(option.key)">-->
            <!--                            {{option.key}} - {{option.value}}-->
            <!--                        </mat-option>-->
            <!--                    </mat-autocomplete>-->
        </mat-form-field>


        <div fxFlex="2.5"></div>

        <div fxFlex="20">
            Is Init Dynamic?
        </div>

        <div fxFlex="25">
            <mat-checkbox [ngModel]="isItemInitDynamic()"
                          (change)="setValue($event,'dynamic-init')"></mat-checkbox>
        </div>

        <div fxFlex="2.5"></div>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="start center"
         *ngIf="item.type === 'caseRef' || item.type === 'filter'">
        <div fxFlex="2.5"></div>
        <div fxFlexAlign="start" fxFlex="20">Allowed Nets</div>
        <div fxFlex="2.5"></div>
        <div fxFlex="72.5" fxLayout="column">
            <div class="margin-html">
                <div *ngIf="item.allowedNets?.length > 0">
                    <div *ngFor="let net of item.allowedNets; let i = index">
                        <mat-form-field class=" margin-right8px" fxFlex="90">
                            <input matInput (change)="setValue($event,'allowedNets', i)" type="text"
                                   placeholder="Process identifier" [value]="net">
                        </mat-form-field>
                        <button mat-icon-button (click)="deleteAllowedNet(i)" fxFlex="10">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
                <div fxLayoutAlign="center center" *ngIf="item.allowedNets.length === 0"
                     class="no-options">
                    <span>Empty</span>
                </div>
            </div>
            <button mat-stroked-button class="button-text" (click)="addAllowedNet()">
                <mat-icon>add</mat-icon>
                Add net
            </button>
        </div>
        <div fxFlex="2.5"></div>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="start center" *ngIf="item.type !== 'enumeration' && item.type !== 'multichoice'
                        && item.type !== 'enumeration_map' && item.type !== 'multichoice_map'">
        <div fxFlex="2.5"></div>

        <div fxFlex="20">Validations</div>

        <div fxFlex="75" fxLayout="column">
            <div class="margin-html">
                <div *ngIf="item.validations?.length > 0">
                    <div *ngFor="let validation of item.validations; let i = index">
                        <mat-form-field fxFlex="45" class="margin-right8px">
                            <mat-label>Expression</mat-label>
                            <input matInput type="text" [(ngModel)]="validation.expression.expression">
                        </mat-form-field>
                        <mat-form-field fxFlex="45" class="margin-right8px">
                            <mat-label>Message</mat-label>
                            <input matInput type="text"
                                   [(ngModel)]="validation.message.value">
                        </mat-form-field>
                        <button fxFlex="10" mat-icon-button (click)="deleteValidation(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
                <div fxLayoutAlign="center center" *ngIf="item.validations?.length === 0"
                     class="no-options">
                    <span>Empty</span>
                </div>
            </div>
            <button mat-stroked-button class="button-text" (click)="addValidation()">
                <mat-icon>add</mat-icon>
                Add validation
            </button>
        </div>

        <div fxFlex="2.5"></div>
    </div>

    <div class="options" *ngIf="isOptionField()"
         fxLayout="row wrap" fxLayoutAlign="start center">
        <div fxFlex="2.5"></div>
        <div fxFlexAlign="start" fxFlex="20">Options</div>
        <div fxFlex="2.5"></div>
        <div fxFlex="72.5" fxLayout="column">
            <div cdkDropList class="drag-list margin-html" (cdkDropListDropped)="dropOption($event)">
                <div *ngIf="item.options.length > 0">
                    <div class="drag-box" *ngFor="let item of item.options; let i = index" cdkDrag>
                        <mat-icon class="icon-color" cdkDragHandle>drag_indicator</mat-icon>
                        <mat-form-field class=" margin-right8px option-input"
                                        *ngIf="!hasSimpleOptions()">
                            <input matInput (change)="setValue($event,'options-key', i)" type="text"
                                   placeholder="Option key" [value]="item.key">
                        </mat-form-field>
                        <mat-form-field class=" margin-right8px option-input">
                            <input matInput (change)="setValue($event,'options-value', i)"
                                   type="text" placeholder="Option value" [value]="item.value?.value">
                        </mat-form-field>
                        <button mat-icon-button (click)="deleteOption(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
                <div fxLayoutAlign="center center" *ngIf="item.options.length === 0"
                     class="no-options">
                    <span>No options</span>
                </div>
            </div>
            <button mat-stroked-button class="button-text" (click)="addOption()">
                <mat-icon>add</mat-icon>
                Add option
            </button>
        </div>
        <div fxFlex="2.5"></div>
    </div>

    <div *ngIf="item.type === 'enumeration_map' || item.type === 'multichoice_map'" fxLayout="row wrap"
         fxLayoutAlign="start center">

        <div fxFlex="2.5"></div>

        <div fxFlex="20">Options Init</div>

        <mat-form-field fxFlex="25">
            <input matInput [ngModel]="getItemOptionsInitExpression()"
                   (change)="setValue($event,'options-init')">
        </mat-form-field>

        <div fxFlex="2.5"></div>

        <div fxFlex="20">Is Options Init dynamic?</div>

        <mat-form-field fxFlex="25">
            <input matInput [ngModel]="getItemOptionsInitDynamic()"
                   (change)="setValue($event,'options-init-dynamic')">
        </mat-form-field>

        <div fxFlex="2.5"></div>
    </div>
</div>

<ng-template #elseBlock>
    <span>no selected</span>
</ng-template>
