@use "netgif-theme";

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-mat-viewnav {
    background-color: map-get(netgif-theme.$netgrif-blue, 600) !important;

    .selected {
        border-left: map-get(netgif-theme.$netgrif-blue, A200);
        background-color: map-get(netgif-theme.$netgrif-blue, 700);
    }

    mat-icon {
        color: map-get(netgif-theme.$netgrif-blue, 200);
    }
}

.active-item {
    background: map-get(netgif-theme.$netgrif-blue, A200) !important;
}

.button-highlight {
    background: rgba(map-get(netgif-theme.$netgrif-blue, A100), .3) !important;
}

.active-item-gridster {
    background: map-get(netgif-theme.$netgrif-blue, A200) !important;
}

.field-list-mat-list-item:hover {
    .field-list-mat-list-item-title {
        color: map-get(netgif-theme.$netgrif-blue, 500);
    }
}

.field-list-mat-list-item-disabled-title {
    height: 40px;
    color: #bbbbbb;
}

.field-list-expansion-header:hover {
    color: map-get(netgif-theme.$netgrif-blue, 500);

    .field-list-expansion-title {
        color: map-get(netgif-theme.$netgrif-blue, 500);
    }
}

.clear-search-icon {
    &:hover {
        background-color: map-get(netgif-theme.$netgrif-blue, A200);
    }
}

.active-card {
    background: map-get(netgif-theme.$netgrif-blue, 200);
}

.mat-tab-label:hover {
    background: map-get(netgif-theme.$netgrif-blue, 50);
}

.mat-tab-label-active {
    color: map-get(netgif-theme.$netgrif-blue, 500);
    border-bottom: 2px solid map-get(netgif-theme.$netgrif-blue, 500);
    opacity: 1;
}

.fill-svg {
    color: map-get(netgif-theme.$netgrif-blue, A200) !important;
    fill: map-get(netgif-theme.$netgrif-blue, A200) !important;
    opacity: 1;
}

.active-custom-svg {
    stroke: map-get(netgif-theme.$netgrif-blue, A200) !important;
    color: map-get(netgif-theme.$netgrif-blue, A200) !important;
    fill: map-get(netgif-theme.$netgrif-blue, A200) !important;
    opacity: 1;
}

.inactive-custom-svg {
    stroke: black;
    color: black;
    fill: black;
}

.button-line:hover {
    background: rgba(map-get(netgif-theme.$netgrif-blue, A100), .50) !important;
}

.item-selected {
    background: rgba(map-get(netgif-theme.$netgrif-blue, A100), .3) !important;
}

.checkbox-background-warn {
    .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background {
        border-color: map-get(netgif-theme.$netgrif-warn, 500) !important;
        background-color: map-get(netgif-theme.$netgrif-warn, 500) !important;
    }

    .mdc-checkbox .mdc-checkbox__native-control:enabled~.mdc-checkbox__background .mdc-checkbox__mixedmark {
        border-color: white;
        color: white;
    }
}

.checkbox-background-green {
    .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background {
        border-color:#008800 !important;
        background-color: #008800 !important;
    }

    .mdc-checkbox .mdc-checkbox__native-control:enabled~.mdc-checkbox__background .mdc-checkbox__checkmark {
        color: white;
    }
}

.lasso-selection {
    stroke: map-get(netgif-theme.$netgrif-accent, A200);
    fill: map-get(netgif-theme.$netgrif-accent, A200);
    fill-opacity: 10%;
    stroke-width: 1;
}

.expansion-panel-compact {
    .mat-expansion-panel-body {
        padding: 0 8px 8px !important;
    }
}

.mat-list-item-compact {
    height: 40px;

    .mat-list-item-content {
        padding-left: 0 !important;
    }
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.dialog-width-50 {
    width: 50% !important;
}

.dialog-width-60 {
    width: 60% !important;
}

.mat-mdc-dialog-container .mat-mdc-dialog-title+.mat-mdc-dialog-content {
    padding-top: 8px !important;
}

nab-edit-mode {
    height: calc(100% - 42px);
}

nab-simulation-mode {
    height: calc(100% - 42px);
}

.builder-field-input {
    margin-top: 6px;
    .mat-mdc-form-field-subscript-wrapper {
        position: absolute;
        width: auto;
    }
}

.netgrif-input {
    .properties {
        .mat-mdc-form-field-infix {
            min-width: 80px !important;
        }
    }

    .drag-box {
        .mat-mdc-form-field-infix {
            min-width: 80px !important;
        }
    }
}
