<div fxLayout="column" fxLayoutAlign="space-around none">
    <mat-card fxFlexFill class="localeSelect netgrif-input">
        <mat-form-field fxFlex="25">
            <mat-label>{{noLocales() ? 'No language available, please add new language' : 'Select language'}}</mat-label>
            <mat-select [(value)]="locale" [disabled]="noLocales()" (selectionChange)="selectLocale()">
                <mat-option *ngFor="let locale of usedLocales()" [value]="locale">{{locale.prettyName}}</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-card>
    <mat-tab-group *ngIf="!noLocales() && locale">
        <mat-tab [disabled]="modelMetadataConfig.disabled()">
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">{{modelMetadataConfig.icon}}</mat-icon>
                {{modelMetadataConfig.title}}
            </ng-template>
            <ng-template matTabContent>
                <nab-model-translation [translation]="translation"></nab-model-translation>
            </ng-template>
        </mat-tab>
        <mat-tab [disabled]="taskMetadataConfig.disabled()">
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">{{taskMetadataConfig.icon}}</mat-icon>
                {{taskMetadataConfig.title}}
            </ng-template>
            <ng-template matTabContent>
                <nab-task-translation  [translation]="translation"></nab-task-translation>
            </ng-template>
        </mat-tab>
        <mat-tab [disabled]="dataMetadataConfig.disabled()">
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">{{dataMetadataConfig.icon}}</mat-icon>
                {{dataMetadataConfig.title}}
            </ng-template>
            <ng-template matTabContent>
                <nab-data-translation [translation]="translation"></nab-data-translation>
            </ng-template>
        </mat-tab>
        <mat-tab [disabled]="roleMetadataConfig.disabled()">
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">{{roleMetadataConfig.icon}}</mat-icon>
                {{roleMetadataConfig.title}}
            </ng-template>
            <ng-template matTabContent>
                <nab-role-translation  [translation]="translation"></nab-role-translation>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>
