<div fxLayout="column" fxLayoutAlign="space-around none">
    <mat-card fxFlexFill class="localeSelect netgrif-input">
        <mat-form-field fxFlex="25">
            <mat-label>{{noLocales() ? 'No language available, please add new language' : 'Select language'}}</mat-label>
            <mat-select [(value)]="locale" [disabled]="noLocales()" (selectionChange)="selectLocale()">
                <mat-option *ngFor="let locale of usedLocales()" [value]="locale">{{locale.prettyName}}</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-card>
    <mat-accordion multi fxFlexFill *ngIf="!noLocales() && locale">
        <nab-translation-group [config]="modelMetadataConfig" [translation]="translation"></nab-translation-group>
        <nab-translation-group [config]="taskMetadataConfig" [translation]="translation"></nab-translation-group>
        <nab-translation-group [config]="dataMetadataConfig" [translation]="translation"></nab-translation-group>
        <nab-translation-group [config]="roleMetadataConfig" [translation]="translation"></nab-translation-group>
    </mat-accordion>
</div>
