<mat-sidenav class="app-mat-sidenav" disableClose="true" fixedInViewport=true mode="side" opened>
  <nab-field-list></nab-field-list>
</mat-sidenav>

<nab-info-label></nab-info-label>
<nab-paper-component>
</nab-paper-component>

<mat-sidenav (resizing)="onResizeEvent($event)"
             [resizeCursorPrecision]="10"
             [resizeEdges]="{ left: true }"
             [style.width.px]="width"
             class="app-mat-sidenav-right"
             disableClose="true"
             fixedInViewport=true
             mode="side" mwlResizable opened position="end">
  <nab-edit-panel></nab-edit-panel>
</mat-sidenav>
