div {
    display: flex;
    width: 100%;
    height: 100%;
}

ng-template {
    width: 100%;
    height: 100%;
}

.master {
    flex-grow: 1;
    flex-shrink: 0;
    position: relative;
}

.detail {
    flex-grow: 0;
    flex-shrink: 1;
    position: relative;
}

.border {
    flex-grow: 0;
    flex-shrink: 0;
    width: 2px;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    cursor: col-resize;
    margin: 0 0 0 auto;
}
