<div class="languages-view">
    <div class="netgrif-input language-create">
        <mat-form-field>
            <mat-label>Add new language</mat-label>
            <input type="text" matInput [formControl]="newLocaleFormControl" [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let locale of filteredLocales | async" [value]="locale">
                    {{locale.prettyName}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <button mat-icon-button class="button-line" matTooltip="Add locale" (click)="addLocal()" [disabled]="invalidLocale()">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <div class="language-list" *ngIf="usedLocales().length > 0">
        <h2 class="margin-none">Translations:</h2>
        <nab-progress *ngFor="let locale of usedLocales()" (deleteLocale)="deleteLocale()" (selectLocale)="selectLocale($event)" [locale]="locale">
        </nab-progress>
    </div>
</div>
